In [1]:
import numpy as np
import pandas as pd

In [2]:
df0 = pd.read_json("scout_car.json", lines = True)
df = df0.copy()
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.sample(3).T

,5256,9408,7949
url,https://www.autoscout24.com//offers/audi-a3-sp...,https://www.autoscout24.com//offers/opel-corsa...,https://www.autoscout24.com//offers/opel-astra...
make_model,Audi A3,Opel Corsa,Opel Astra
short_description,SPB 30 TFSI S tronic Business,1.4 Selective 66kW (90CV),1.6 CDTi S/S 81kW (110CV) Selective
body_type,Sedans,Compact,Compact
price,24800,8950,17500
vat,None,VAT deductible,None
km,37 km,"74,000 km",1 km
registration,02/2019,04/2017,05/2019
prev_owner,1 previous owner,None,None
kW,NaN,NaN,NaN
hp,85 kW,66 kW,81 kW
Type,"[, Pre-registered, , Gasoline]","[, Used, , Super 95]","[, Used, , Diesel]"
Previous Owners,\n1\n,NaN,NaN
Next Inspection,NaN,NaN,NaN
Inspection new,NaN,NaN,NaN
Warranty,NaN,\n12 months\n,\n12 months\n
Full Service,NaN,NaN,NaN
Non-smoking Vehicle,NaN,"[\n, \n, \n120 g CO2/km (comb)\n]",NaN
null,[],[],[]
Make,\nAudi\n,\nOpel\n,\nOpel\n
Model,"[\n, A3, \n]","[\n, Corsa, \n]","[\n, Astra, \n]"
Offer Number,[\n1\n],[\n4941059\n],[\n385462\n]
First Registration,"[\n, 2019, \n]","[\n, 2017, \n]","[\n, 2019, \n]"
Body Color,"[\n, White, \n]","[\n, Black, \n]","[\n, Grey, \n]"
Paint Type,[\nMetallic\n],[\nMetallic\n],NaN
Body Color Original,[\nBianco Ibis\n],NaN,[\nGris Espacial (perlado)\n]
Upholstery,[\nBlack\n],[\nGrey\n],NaN
Body,"[\n, Sedans, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
Nr. of Doors,[\n5\n],[\n5\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Model Code,NaN,NaN,NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Manual, \n]","[\n, Manual, \n]"
Displacement,[\n999 cc\n],"[\n1,398 cc\n]",NaN
Cylinders,[\n4\n],[\n4\n],NaN
Weight,"[\n1,275 kg\n]","[\n1,163 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],NaN
Fuel,"[\n, Gasoline, \n]","[\n, Super 95, \n]","[\n, Diesel, \n]"
Consumption,"[[5.1 l/100 km (comb)], [5.8 l/100 km (city)],...","[[5.2 l/100 km (comb)], [6.9 l/100 km (city)],...",NaN
CO2 Emission,[\n114 g CO2/km (comb)\n],[\n120 g CO2/km (comb)\n],NaN
Emission Class,[\nEuro 6d-TEMP\n],[\nEuro 6\n],NaN
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Cruise control, Hill Holder...",NaN
\nEntertainment & Media\n,"[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, On-board computer, Radio]",NaN
\nExtras\n,[Alloy wheels],NaN,NaN
\nSafety & Security\n,"[ABS, Adaptive Cruise Control, Alarm system, C...","[ABS, Central door lock, Daytime running light...",NaN
description,"[\n, Mod. BUSINESS, Cambio DSG/S tronic, MI Te...",[\n144 Euros/mes SIN entrada. Admitimos tu coc...,[]
Emission Label,NaN,NaN,NaN
Gears,[\n7\n],[\n5\n],[\n6\n]
Country version,[\nItaly\n],NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
drop_cols = ["Available from", "Last Timing Belt Service Date", "Availability",
             "Other Fuel Types", "Last Service Date", "Electricity consumption", "Emission Label",
             "Emission Class", "CO2 Emission", "Model Code", "Body", "Body Color Original", 
             "Make", "Model", "Non-smoking Vehicle", "null", "Full Service", "Country version", "Drive chain", 
             "description", "registration", "kW", 'Previous Owners', 'Next Inspection', 'Inspection new', 
             "Offer Number", "Paint Type", "Cylinders"]

In [6]:
df.drop(drop_cols, axis=1, inplace=True)

In [7]:
df.sample(3).T

,2749,7889,15777
url,https://www.autoscout24.com//offers/audi-a3-sp...,https://www.autoscout24.com//offers/opel-astra...,https://www.autoscout24.com//offers/renault-es...
make_model,Audi A3,Opel Astra,Renault Espace
short_description,SPB 1.6 TDI clean diesel S tronic Ambition,ST 1.4 Turbo Aut. Navi Kamera 17 Zoll BT,ESPACE LIMITED TCe 225 EDC GPF
body_type,Sedans,Station wagon,Van
price,17900,19495,35780
vat,None,VAT deductible,None
km,"68,933 km","6,100 km","4,000 km"
prev_owner,None,1 previous owner,None
hp,81 kW,110 kW,165 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Super 95]","[, Demonstration, , Super 95]"
Warranty,\n,"[\n, \n, \nEuro 6\n]",NaN
First Registration,"[\n, 2016, \n]","[\n, 2019, \n]","[\n, 2019, \n]"
Body Color,"[\n, Grey, \n]","[\n, Blue, \n]","[\n, Grey, \n]"
Upholstery,NaN,"[\nPart leather, Black\n]",[\nBrown\n]
Nr. of Doors,[\n5\n],[\n4\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,598 cc\n]","[\n1,399 cc\n]","[\n1,798 cc\n]"
Weight,"[\n1,280 kg\n]",NaN,"[\n1,843 kg\n]"
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Super 95, \n]","[\n, Super 95, \n]"
Consumption,"[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...","[[5.4 l/100 km (comb)], [7.1 l/100 km (city)],...","[[7.4 l/100 km (comb)], [9.6 l/100 km (city)],..."
\nComfort & Convenience\n,"[Air conditioning, Armrest, Electrical side mi...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ..."
\nEntertainment & Media\n,[Radio],"[Bluetooth, Hands-free equipment, On-board com...","[CD player, Radio, Sound system]"
\nExtras\n,"[Alloy wheels, Sport seats]","[Alloy wheels, Roof rack, Sport seats, Touch s...",[Alloy wheels]
\nSafety & Security\n,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Blind spot monitor, Central door lock, D...","[ABS, Adaptive headlights, Blind spot monitor,..."
Gears,[\n7\n],NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   url                      15919 non-null  object
 1   make_model               15919 non-null  object
 2   short_description        15873 non-null  object
 3   body_type                15859 non-null  object
 4   price                    15919 non-null  int64
 5   vat                      11406 non-null  object
 6   km                       15919 non-null  object
 7   prev_owner               9091 non-null   object
 8   hp                       15919 non-null  object
 9   Type                     15917 non-null  object
 10  Warranty                 10499 non-null  object
 11  First Registration       14322 non-null  object
 12  Body Color               15322 non-null  object
 13  Upholstery               12199 non-null  object
 14  Nr. of Doors             15707 non-null  object
 15  Nr. of Seats             14942 non-null  object
 16  Gearing Type             15919 non-null  object
 17  Displacement             15423 non-null  object
 18  Weight                   8945 non-null   object
 19  Fuel                     15919 non-null  object
 20  Consumption              14013 non-null  object
 21
Comfort & Convenience
  14999 non-null  object
 22
Entertainment & Media
  14545 non-null  object
 23
Extras
                 12957 non-null  object
 24
Safety & Security
      14937 non-null  object
 25  Gears                    11207 non-null  object
dtypes: int64(1), object(25)
memory usage: 3.2+ MB

## make_model

In [9]:
df["make_model"].value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [10]:
df[df["make_model"] == "Audi A2"].T

                                                                        2614
url                        https://www.autoscout24.com//offers/audi-a2-30...
make_model                                                           Audi A2
short_description          30 TDI Navi, Lane assist, Sitzheizung, Einpark...
body_type                                                           Off-Road
price                                                                  28200
vat                                                           VAT deductible
km                                                                 26,166 km
prev_owner                                                  1 previous owner
hp                                                                     85 kW
Type                       [, Employee's car, , Diesel (Particulate Filter)]
Warranty                                             [\n, \n, \n4 (Green)\n]
First Registration                                            [\n, 2018, \n]
Body Color                                                    [\n, Grey, \n]
Upholstery                                                [\nCloth, Black\n]
Nr. of Doors                                                         [\n5\n]
Nr. of Seats                                                         [\n5\n]
Gearing Type                                                [\n, Manual, \n]
Displacement                                                  [\n1,598 cc\n]
Weight                                                                   NaN
Fuel                                   [\n, Diesel (Particulate Filter), \n]
Consumption                [[4.9 l/100 km (comb)], [5.6 l/100 km (city)],...
\nComfort & Convenience\n  [Air conditioning, Armrest, Automatic climate ...
\nEntertainment & Media\n  [Bluetooth, CD player, Hands-free equipment, M...
\nExtras\n                                                    [Alloy wheels]
\nSafety & Security\n      [ABS, Adaptive Cruise Control, Central door lo...
Gears                                                                    NaN

In [11]:
df = df[df["make_model"] != "Audi A2"]

In [12]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Name: make_model, dtype: int64

## short_description

In [13]:
df["short_description"].sample(5)

3948       Sportback 1.6 TDI Design Edition S-Troni
11572         B ST 2.0 D Innov./LED/Frontkamera/18"
7213     K ST Innovation AT, Navi, DAB, Frontkamera
4549                   SPB 30 TDI S tronic Business
7610        1.6 Ultimate Start/Stop LED Navi Kamera
Name: short_description, dtype: object

## body_type

In [14]:
df["body_type"].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           55
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## price

In [15]:
df["price"]

0        15770
1        14500
2        14640
3        14500
4        16790
         ...
15914    39950
15915    39885
15916    39875
15917    39700
15918    40999
Name: price, Length: 15918, dtype: int64

## vat

In [16]:
df["vat"].value_counts(dropna=False)

VAT deductible      10979
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [17]:
df.vat = df.vat.apply(lambda x: "Discount" if x != None else np.nan)
df.vat.value_counts(dropna=False)

Discount    11405
NaN          4513
Name: vat, dtype: int64

## km

In [18]:
df["km"]

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15918, dtype: object

In [19]:
df["km"] = df["km"].str.replace(",","").str.strip(" km")
df["km"]

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km, Length: 15918, dtype: object

In [20]:
df[df["km"] == "-"].loc[:,["km","First Registration","prev_owner"]]

      km First Registration        prev_owner
743    -                NaN              None
869    -                NaN              None
946    -                NaN              None
977    -                NaN              None
980    -                NaN              None
...   ..                ...               ...
15890  -                NaN              None
15902  -                NaN              None
15912  -                NaN              None
15914  -                NaN              None
15918  -     [\n, 2019, \n]  1 previous owner

[1024 rows x 3 columns]

## First Registration

In [21]:
df["First Registration"]

0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15918, dtype: object

In [22]:
df["First Registration"] = df["First Registration"].str[1].astype(float)
df["First Registration"]

0        2016.0
1        2017.0
2        2016.0
3        2016.0
4        2016.0
          ...
15914       NaN
15915    2019.0
15916    2019.0
15917    2019.0
15918    2019.0
Name: First Registration, Length: 15918, dtype: float64

In [23]:
dftest = df.copy()
dftest.loc[dftest.km == "-", "km"] = np.nan
dftest.km = dftest.km.astype(float)

In [24]:
dftest.groupby("First Registration").mean()

                           price            km
First Registration
2016.0              13644.038650  77442.520958
2017.0              15595.915674  41754.940709
2018.0              18453.881885  18033.425385
2019.0              22805.061339   2085.355137

In [25]:
df["First Registration"].fillna(df.km, inplace=True)

In [26]:
df["First Registration"] = df["First Registration"].replace("-","2019.0").astype(float)

In [27]:
df.loc[df["First Registration"]>60000, "First Registration"] = 2016
df.loc[df["First Registration"]>30000, "First Registration"] = 2017
df.loc[df["First Registration"]>10000, "First Registration"] = 2018
df.loc[df["First Registration"]>2020, "First Registration"] = 2019
df.loc[df["First Registration"]<2000, "First Registration"] = 2019

In [28]:
df["First Registration"].value_counts(dropna=False)

2018.0    4527
2019.0    4435
2016.0    3679
2017.0    3277
Name: First Registration, dtype: int64

In [29]:
df.loc[df.km == "-", "km"] = 0
df.km = df.km.astype(int)
df.km

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        0
15915     9900
15916       15
15917       10
15918        0
Name: km, Length: 15918, dtype: int32

In [30]:
df.km.isna().sum()

0

In [31]:
df["First Registration"].isna().sum()

0

In [32]:
df["Age"] = 2019 - df["First Registration"]
df.drop("First Registration", axis=1, inplace=True)
df.Age

0        3.0
1        2.0
2        3.0
3        3.0
4        3.0
        ...
15914    0.0
15915    0.0
15916    0.0
15917    0.0
15918    0.0
Name: Age, Length: 15918, dtype: float64

## prev_owner

In [33]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8293
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [34]:
df.prev_owner = df.prev_owner.str.strip(" previous owners")
df.prev_owner = df.prev_owner.astype(float)

In [35]:
df.prev_owner.value_counts(dropna=False)

1.0    8293
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

## hp

In [36]:
df.hp.sample(5)

5507      85 kW
5644      85 kW
2767     110 kW
12753    147 kW
2529      70 kW
Name: hp, dtype: object

In [37]:
df.hp = df.hp.str.strip(" kW")
df.loc[df.hp == "-", "hp"] = np.nan
df.hp = df.hp.astype(float)
# 1 kW = 1.34102209 hp
df.hp = df.hp*1.34102209
df.hp.sample(5)

3319    113.986878
8158     88.507458
1094     93.871546
8652     68.392127
3490    147.512430
Name: hp, dtype: float64

## Type

In [38]:
df.Type = df.Type.str[1]

In [39]:
df.Type.unique()

array(['Used', "Employee's car", 'New', 'Demonstration', 'Pre-registered',
       nan], dtype=object)

In [40]:
df[df.Type == "Pre-registered"]["km"].value_counts().head(10)

10     486
1      171
0      118
50      96
5       65
100     58
15      51
12      27
3       25
80      21
Name: km, dtype: int64

In [41]:
used = ['Used', "Employee's car", 'Demonstration']
new = ["New", "Pre-registered"]

In [42]:
def usage(x):
    if x in used:
        x = "Used"
    elif x in new:
        x = "New"
    return x

In [43]:
df.Type = df.Type.apply(usage)
df.Type.value_counts(dropna=False)

Used    12902
New      3014
NaN         2
Name: Type, dtype: int64

## Warranty

In [44]:
df.Warranty.sample(10)

10309                     [\n, \n, \n4 (Green)\n]
12721                                         NaN
14045                                          \n
14527                 [\n24 months\n, \nEuro 6\n]
4767                                          NaN
821                          [\n, \n, \nEuro 6\n]
2691                                          NaN
14293                                         NaN
1727     [\n12 months\n, \n102 g CO2/km (comb)\n]
14516                                         NaN
Name: Warranty, dtype: object

In [45]:
def warcl(x):
    if type(x) == list:
        y = np.nan
        for i in x:
            if "month" in i:
                y = i
        x = y
    elif type(x) == str:
        if "month" not in x:
            x = np.nan        
    else:
        x = np.nan
    if type(x) == str:
        x = x.strip("\n months")
    return x

In [46]:
df.Warranty = df.Warranty.apply(warcl)
df.Warranty.sample(10)

15431    NaN
2553     NaN
6725     NaN
11208    NaN
6228     NaN
2565      24
597      NaN
4383     NaN
4133      24
12816    NaN
Name: Warranty, dtype: object

In [47]:
df.Warranty = df.Warranty.astype(float)

## Body Color

In [48]:
df["Body Color"].sample(10)

2691      [\n, White, \n]
4971       [\n, Grey, \n]
9576      [\n, Black, \n]
7332      [\n, White, \n]
1019      [\n, Black, \n]
9338       [\n, Blue, \n]
10771     [\n, White, \n]
11467      [\n, Grey, \n]
5254      [\n, Black, \n]
10925    [\n, Silver, \n]
Name: Body Color, dtype: object

In [49]:
df["Body Color"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3504
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [50]:
df["Body Color"] = df["Body Color"].str[1]
df["Body Color"].sample(10)

3        Brown
15116    White
10491    White
11599      NaN
3781      Grey
10287     Blue
8452     Black
8222     White
13264      Red
1282     Black
Name: Body Color, dtype: object

In [51]:
colors = ["Black","Grey","Silver","Blue","Red","Brown","Green","Beige","Yellow","Violet","Bronze","Orange","Gold"]

In [52]:
def color(x):
    if x in colors:
        x = "Colored"
    return x

In [53]:
df["Body Color"] = df["Body Color"].apply(color)
df["Body Color"].value_counts(dropna=False)

Colored    11915
White       3406
NaN          597
Name: Body Color, dtype: int64

## Upholstery

In [54]:
df.Upholstery.sample(10)

15020           [\nCloth, Black\n]
15807           [\nFull leather\n]
13262                          NaN
11319                  [\nBlack\n]
4295             [\nCloth, Grey\n]
11626           [\nCloth, Black\n]
15211    [\nPart leather, Brown\n]
15759                          NaN
2148            [\nCloth, Black\n]
3901            [\nCloth, Black\n]
Name: Upholstery, dtype: object

In [55]:
df.Upholstery.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5820
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [56]:
df.Upholstery = df.Upholstery.str[0].str.split(",").str[0].str.strip("\n")
df.Upholstery.value_counts(dropna=False)

Cloth           8422
NaN             3720
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: Upholstery, dtype: int64

In [57]:
def uphol(x):
    if type(x) == float:
        x = np.nan
    elif "leather" in x:
        x = "Leather"
    elif x != "Cloth":
        x = "Other"
    return x

In [58]:
df.Upholstery = df.Upholstery.apply(uphol)
df.Upholstery.value_counts(dropna=False)

Cloth      8422
NaN        3720
Leather    2508
Other      1268
Name: Upholstery, dtype: int64

## Nr. of Doors

In [59]:
df["Nr. of Doors"] = df["Nr. of Doors"].str[0].str.strip("\n")
df["Nr. of Doors"].value_counts(dropna=False)

5      11574
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr. of Doors, dtype: int64

In [60]:
df["Nr. of Doors"] = df["Nr. of Doors"].astype(float)

## Nr. of Seats

In [61]:
df["Nr. of Seats"] = df["Nr. of Seats"].str[0].str.strip("\n")
df["Nr. of Seats"].value_counts(dropna=False)

5      13335
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr. of Seats, dtype: int64

In [62]:
df["Nr. of Seats"] = df["Nr. of Seats"].astype(float)

## Gearing Type

In [63]:
df["Gearing Type"] = df["Gearing Type"].str[1]
df["Gearing Type"].value_counts(dropna=False)

Manual            8152
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

## Displacement

In [64]:
df.Displacement = df.Displacement.str[0].str.strip("\n cc").str.replace(",","")
df.Displacement.value_counts(dropna=False)

1598    4760
999     2438
1398    1314
1399     749
1229     677
        ...
122        1
1198       1
1195       1
2967       1
1800       1
Name: Displacement, Length: 78, dtype: int64

In [65]:
df.Displacement = df.Displacement.astype(float)

In [66]:
df.Displacement.sample(10)

8290     1398.0
14302    1149.0
3544     1598.0
9214     1229.0
6571     1399.0
8083     1368.0
1479      999.0
6196     1598.0
3091     1598.0
15893    1997.0
Name: Displacement, dtype: float64

## Weight

In [67]:
df.Weight.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6973
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [68]:
df.Weight = df.Weight.str[0].str.strip("\n kg").str.replace(",","")
df.Weight = df.Weight.astype(float)
df.Weight

0        1220.0
1        1255.0
2           NaN
3        1195.0
4           NaN
          ...
15914    1758.0
15915    1708.0
15916       NaN
15917    1758.0
15918    1685.0
Name: Weight, Length: 15918, dtype: float64

## Fuel

In [69]:
df.Fuel.sample(20)

5003     [\n, Diesel (Particulate Filter), \n]
130                           [\n, Diesel, \n]
8582                        [\n, Gasoline, \n]
14225                       [\n, Super 95, \n]
6636                    [\n, Super E10 95, \n]
7563                        [\n, Gasoline, \n]
2772                        [\n, Super 95, \n]
14753                       [\n, Super 95, \n]
6833     [\n, Diesel (Particulate Filter), \n]
2110                        [\n, Gasoline, \n]
1517                        [\n, Super 95, \n]
10246                       [\n, Super 95, \n]
10821                         [\n, Diesel, \n]
1154                        [\n, Gasoline, \n]
2281                        [\n, Super 95, \n]
3806                          [\n, Diesel, \n]
15455                         [\n, Diesel, \n]
5694                        [\n, Gasoline, \n]
2079                        [\n, Gasoline, \n]
12709                       [\n, Super 95, \n]
Name: Fuel, dtype: object

In [70]:
df.Fuel = df.Fuel.str[1]
df.Fuel.value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4314
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: Fuel, Length: 77, dtype: int64

In [71]:
df.Fuel

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15918, dtype: object

In [72]:
df.Fuel = df.Fuel.str.split("(").str[0].str.strip(" ")
df.Fuel = df.Fuel.str.split("/").str[0].str.strip(" ")
df.Fuel.value_counts(dropna=False)

Diesel                  7298
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: Fuel, dtype: int64

In [73]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

In [74]:
def fuel(x):
    if x in benzine:
        x = "Benzine"
    elif x in lpg:
        x = "LPG/CNG"
    return x

In [75]:
df.Fuel = df.Fuel.apply(fuel)
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7298
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

## Consumption

In [76]:
comb = df.Consumption.str[0].str[0]
city = df.Consumption.str[1].str[0]
country = df.Consumption.str[2].str[0]

In [77]:
city

0        4.3 l/100 km (city)
1        7.1 l/100 km (city)
2        4.4 l/100 km (city)
3        4.3 l/100 km (city)
4        4.6 l/100 km (city)
                ...
15914    6.2 l/100 km (city)
15915                      7
15916    6.2 l/100 km (city)
15917    6.2 l/100 km (city)
15918    8.7 l/100 km (city)
Name: Consumption, Length: 15918, dtype: object

In [78]:
def cons_clean(x):
    if "/100" in str(x):
        x = x.split("/")[0].strip(" lkg")
    else:
        x = np.nan
    return x

In [79]:
comb = comb.apply(cons_clean)
city = city.apply(cons_clean)
country = country.apply(cons_clean)

In [80]:
comb.isna().sum()

2883

In [81]:
comb = comb.astype(float)
city = city.astype(float)
country = country.astype(float)

In [82]:
comb.fillna((city+country)/2, inplace=True)

In [83]:
df.Consumption = comb

In [84]:
df["Comfort & Convenience"] = df0["\nComfort & Convenience\n"]
df["Entertainment & Media"] = df0["\nEntertainment & Media\n"]
df["Extras"] = df0["\nExtras\n"]
df["Safety & Security"] = df0["\nSafety & Security\n"]

## Comfort & Convenience

In [85]:
def unlist(x):
    if type(x) == list:
        x = "|".join(x)
    else:
        x = np.nan
    return x

In [86]:
df["Comfort & Convenience"] = df["\nComfort & Convenience\n"]
df.drop(["\nComfort & Convenience\n"],axis=1, inplace=True)

In [87]:
df["Comfort & Convenience"] = df["Comfort & Convenience"].apply(unlist)

## Entertainment & Media

In [88]:
df["Entertainment & Media"] = df["\nEntertainment & Media\n"]
df.drop(["\nEntertainment & Media\n"],axis=1, inplace=True)

In [89]:
df["Entertainment & Media"] = df["Entertainment & Media"].apply(unlist)

## Extras

In [90]:
df["Extras"] = df["\nExtras\n"]
df.drop(["\nExtras\n"],axis=1, inplace=True)

In [91]:
df["Extras"] = df["Extras"].apply(unlist)

## Safety & Security

In [92]:
df["Safety & Security"] = df["\nSafety & Security\n"]
df.drop(["\nSafety & Security\n"],axis=1, inplace=True)

In [93]:
df["Safety & Security"] = df["Safety & Security"].apply(unlist)

## Gears

In [94]:
df.Gears.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4711
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: Gears, dtype: int64

In [95]:
df.Gears = df.Gears.str[0].str.strip("\n")

In [96]:
df.Gears = df.Gears.astype(float)

In [97]:
df.Gears.value_counts(dropna=False)

6.0     5822
NaN     4711
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
3.0        2
4.0        2
2.0        1
50.0       1
Name: Gears, dtype: int64

## End of Part-1

In [98]:
df.drop(["url","short_description"],axis=1,inplace=True)

In [99]:
df.rename(columns={"Warranty":"Warranty_months", "Displacement":"Displacement_cc", 
                   "Weight":"Weight_kg", "Consumption":"Consumption_comb"}, inplace=True)

In [100]:
df.shape

(15918, 24)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15918 entries, 0 to 15918
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make_model             15918 non-null  object
 1   body_type              15858 non-null  object
 2   price                  15918 non-null  int64
 3   vat                    11405 non-null  object
 4   km                     15918 non-null  int32
 5   prev_owner             9090 non-null   float64
 6   hp                     15830 non-null  float64
 7   Type                   15916 non-null  object
 8   Warranty_months        4853 non-null   float64
 9   Body Color             15321 non-null  object
 10  Upholstery             12198 non-null  object
 11  Nr. of Doors           15706 non-null  float64
 12  Nr. of Seats           14941 non-null  float64
 13  Gearing Type           15918 non-null  object
 14  Displacement_cc        15422 non-null  float64
 15  Weight_kg              8945 non-null   float64
 16  Fuel                   15918 non-null  object
 17  Consumption_comb       13143 non-null  float64
 18  Gears                  11207 non-null  float64
 19  Age                    15918 non-null  float64
 20  Comfort & Convenience  14998 non-null  object
 21  Entertainment & Media  14544 non-null  object
 22  Extras                 12956 non-null  object
 23  Safety & Security      14936 non-null  object
dtypes: float64(10), int32(1), int64(1), object(12)
memory usage: 3.0+ MB

In [102]:
df.sample(3).T

,1951,517,8225
make_model,Audi A1,Audi A1,Opel Astra
body_type,Compact,Sedans,Sedans
price,27980,13000,17990
vat,Discount,Discount,Discount
km,0,29000,5
prev_owner,NaN,NaN,NaN
hp,113.986878,88.507458,123.374032
Type,New,Used,Used
Warranty_months,NaN,24.0,NaN
Body Color,White,Colored,Colored
Upholstery,Cloth,NaN,Cloth
Nr. of Doors,5.0,5.0,5.0
Nr. of Seats,NaN,5.0,5.0
Gearing Type,Automatic,Manual,Manual
Displacement_cc,NaN,1422.0,1399.0
Weight_kg,1200.0,1640.0,NaN
Fuel,Benzine,Diesel,Benzine
Consumption_comb,4.8,3.7,5.4
Gears,NaN,5.0,6.0
Age,0.0,3.0,0.0
Comfort & Convenience,Air conditioning|Armrest|Automatic climate con...,Air conditioning|Power windows|Start-stop system,Air conditioning|Armrest|Automatic climate con...
Entertainment & Media,Sound system,Radio,Bluetooth|Hands-free equipment|On-board comput...
Extras,Alloy wheels,NaN,Alloy wheels|Touch screen
Safety & Security,Daytime running lights|Driver-side airbag|Elec...,ABS|Central door lock|Daytime running lights|D...,ABS|Central door lock|Daytime running lights|D...

In [103]:
df.to_csv("scout_car_clean.csv", index=False)