___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

In [1290]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

import warnings 
warnings.filterwarnings("ignore") 
warnings.warn("this will not show")

%matplotlib inline

plt.rcParams["figure.figsize"] = (10,6)

sns.set_style("whitegrid") 
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 150 
pd.options.display.max_columns = 100
import json
import regex as re
from datetime import date
from datetime import datetime
from datetime import timedelta

In [1291]:
#df.to_excel('scout_car.json.xlsx')
##convert json to excel

# PART- 1 `( Data Cleaning )`

In [1292]:
df0 = pd.read_json("scout_car.json",lines=True)
df = df0.copy()
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [1293]:
df.shape

(15919, 54)

In [1294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [1295]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

## Fixing Headers

In [1296]:
#pip install skimpy

In [1297]:
from skimpy import clean_columns

In [1298]:
df= clean_columns(df)

In [1299]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

### Another way of fixing headers

In [1300]:
# df.rename(columns={"\nComfort & Convenience\n":"Comfort & Convenience",
#                   "\nEntertainment & Media\n":"Entertainment & Media",
#                   "\nExtras\n":"Extras",
#                   "\nSafety & Security\n":"Safety & Security"})

In [1301]:
df.head(1).T

                                                                               0
url                            https://www.autoscout24.com//offers/audi-a1-sp...
make_model                                                               Audi A1
short_description                    Sportback 1.4 TDI S-tronic Xenon Navi Klima
body_type                                                                 Sedans
price                                                                      15770
vat                                                               VAT deductible
km                                                                     56,013 km
registration                                                             01/2016
prev_owner                                                     2 previous owners
k_w                                                                          NaN
hp                                                                         66 kW
type                                     [, Used, , Diesel (Particulate Filter)]
previous_owners                                                            \n2\n
next_inspection                            [\n06/2021\n, \n99 g CO2/km (comb)\n]
inspection_new                                             [\nYes\n, \nEuro 6\n]
warranty                                                 [\n, \n, \n4 (Green)\n]
full_service                                                            [\n, \n]
non_smoking_vehicle                                                     [\n, \n]
null                                                                          []
make                                                                    \nAudi\n
model                                                               [\n, A1, \n]
offer_number                                                     [\nLR-062483\n]
first_registration                                                [\n, 2016, \n]
body_color                                                       [\n, Black, \n]
paint_type                                                        [\nMetallic\n]
body_color_original                                          [\nMythosschwarz\n]
upholstery                                                    [\nCloth, Black\n]
body                                                            [\n, Sedans, \n]
nr_of_doors                                                              [\n5\n]
nr_of_seats                                                              [\n5\n]
model_code                                                        [\n0588/BDF\n]
gearing_type                                                 [\n, Automatic, \n]
displacement                                                      [\n1,422 cc\n]
cylinders                                                                [\n3\n]
weight                                                            [\n1,220 kg\n]
drive_chain                                                          [\nfront\n]
fuel                                       [\n, Diesel (Particulate Filter), \n]
consumption                    [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
co_2_emission                                           [\n99 g CO2/km (comb)\n]
emission_class                                                      [\nEuro 6\n]
comfort_&_convenience          [Air conditioning, Armrest, Automatic climate ...
entertainment_&_media          [Bluetooth, Hands-free equipment, On-board com...
extras                         [Alloy wheels, Catalytic Converter, Voice Cont...
safety_&_security              [ABS, Central door lock, Daytime running light...
description                    [\n, Sicherheit:,  , Deaktivierung für Beifahr...
emission_label                                                               NaN
gears                                                                        NaN
country_version                                                              NaN
electricity_consumption                                                      NaN
last_service_date                                                            NaN
other_fuel_types                                                             NaN
availability                                                                 NaN
last_timing_belt_service_date                                                NaN
available_from                                                               NaN

### Third Way of Fixing Headers

In [1302]:
# df["Comfort & Convenience"]=df["\nComfort & Convenience\n"]
# df["Entertainment & Media"]=df["\nEntertainment & Media\n"]
# df["Extras"]=df["\nExtras\n"]
# df["Safety & Security"]=df["\nSafety & Security\n"]

In [1303]:
# #then we need to delete old columns that we corrected 
# drop_columns=["\nComfort & Convenience\n","\nEntertainment & Media\n","\nExtras\n","\nSafety & Security\n"]
# df.drop(drop_columns, axis=1, inplace=True)

## Working with Null Values

In [1304]:
df.isnull().sum()   #assuming that all NaN values are written correctly

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
k_w                              15919
hp                                   0
type                                 2
previous_owners                   6640
next_inspection                  12384
inspection_new                   11987
warranty                          5420
full_service                      7704
non_smoking_vehicle               8742
null                                 0
make                                 0
model                                0
offer_number                      3175
first_registration                1597
body_color                         597
paint_type                        5772
body_color_original               3759
upholstery                        3720
body                                60
nr_of_doors                        212
nr_of_seats                        977
model_code                       10941
gearing_type                         0
displacement                       496
cylinders                         5680
weight                            6974
drive_chain                       6858
fuel                                 0
consumption                       1906
co_2_emission                     1808
emission_class                    3021
comfort_&_convenience              920
entertainment_&_media             1374
extras                            2962
safety_&_security                  982
description                          0
emission_label                   11934
gears                             4712
country_version                   8333
electricity_consumption          15782
last_service_date                15353
other_fuel_types                 15039
availability                     15284
last_timing_belt_service_date    15903
available_from                   15647
dtype: int64

In [1305]:
# df.isnull().sum()/len(df)*100 #percentage of missing values per columns
df.isnull().sum()/df.shape[0]*100

url                               0.000
make_model                        0.000
short_description                 0.289
body_type                         0.377
price                             0.000
vat                              28.350
km                                0.000
registration                      0.000
prev_owner                       42.892
k_w                             100.000
hp                                0.000
type                              0.013
previous_owners                  41.711
next_inspection                  77.794
inspection_new                   75.300
warranty                         34.047
full_service                     48.395
non_smoking_vehicle              54.916
null                              0.000
make                              0.000
model                             0.000
offer_number                     19.945
first_registration               10.032
body_color                        3.750
paint_type                       36.259
body_color_original              23.613
upholstery                       23.368
body                              0.377
nr_of_doors                       1.332
nr_of_seats                       6.137
model_code                       68.729
gearing_type                      0.000
displacement                      3.116
cylinders                        35.681
weight                           43.809
drive_chain                      43.081
fuel                              0.000
consumption                      11.973
co_2_emission                    11.357
emission_class                   18.977
comfort_&_convenience             5.779
entertainment_&_media             8.631
extras                           18.607
safety_&_security                 6.169
description                       0.000
emission_label                   74.967
gears                            29.600
country_version                  52.346
electricity_consumption          99.139
last_service_date                96.445
other_fuel_types                 94.472
availability                     96.011
last_timing_belt_service_date    99.899
available_from                   98.291
dtype: float64

In [1306]:
# function to return limit percent of missing values
def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x >= limit]
show_nans(df,95)

k_w                             100.000
electricity_consumption          99.139
last_service_date                96.445
availability                     96.011
last_timing_belt_service_date    99.899
available_from                   98.291
dtype: float64

### Working on null column

In [1307]:
x = df.null.replace("[]",None)

In [1308]:
##x = df.replace(to_replace=r'^[].$', value=None, regex=True)

In [1309]:
x.head()

0    []
1    []
2    []
3    []
4    []
Name: null, dtype: object

In [1310]:
df.null.head()

0    []
1    []
2    []
3    []
4    []
Name: null, dtype: object

## Dropping columns that have missing values more than ???

# Examination Of Colomns

## url

In [1311]:
df['url'][0]

'https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e'

In [1312]:
# drop  url column ???

## make_model vs Make vs Model

In [1313]:
df['make_model'].value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [1314]:
df['make'].value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

In [1315]:
df['make'].isnull().sum()

0

In [1316]:
df['model'].value_counts()

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [1317]:
df['model'].isnull().sum()

0

In [1318]:
df[["make","model",'make_model']].sample(10)

              make               model     make_model
8758      \nOpel\n     [\n, Corsa, \n]     Opel Corsa
10074     \nOpel\n     [\n, Corsa, \n]     Opel Corsa
1173      \nAudi\n        [\n, A1, \n]        Audi A1
11901     \nOpel\n  [\n, Insignia, \n]  Opel Insignia
6894      \nOpel\n     [\n, Astra, \n]     Opel Astra
14757  \nRenault\n      [\n, Clio, \n]   Renault Clio
12765     \nOpel\n  [\n, Insignia, \n]  Opel Insignia
5705      \nAudi\n        [\n, A3, \n]        Audi A3
14273  \nRenault\n      [\n, Clio, \n]   Renault Clio
4273      \nAudi\n        [\n, A3, \n]        Audi A3

#### Removing \n and [\n

In [1319]:
df["make"]=df["make"].replace("\\n","", regex=True)
df["make"].value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: make, dtype: int64

In [1320]:
df.make

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: make, Length: 15919, dtype: object

In [1321]:
def remove(x):
    if type(x)==float:
        return np.nan
    else:
        return x[1]

In [1322]:
df["model"] = df["model"].apply(remove)

In [1323]:
df.model

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: model, Length: 15919, dtype: object

In [1324]:
## df['Model'].apply(lambda x: np.nan if type(x)==float else x[1])

## short_description vs description

In [1325]:
df['short_description'].value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                 64
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
SPB 30 TFSI S tronic Admired                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10001, dtype: int64

In [1326]:
df['short_description'].isnull().sum()

46

In [1327]:
df[["short_description","description"]].sample(15)
#we are checking if is there any similarity

,short_description,description
11986,"GS 1.5 DI Turbo AT Dynamic Navi, Kamera","[\n, OPEL Insignia B Grand Sport 1.5 Turbo Dy..."
11433,INNOVATION*LED*KAMERA*NAVI,"[\n, Sonderausstattung:, Allwetter-/ Ganzjahre..."
15874,V Limited Vollausstattung,"[\n, Sonderausstattung:, 3.Sitzreihe mit Einze..."
15448,1.6 dCi Initiale Paris 7p. Panoramadak | Navi ...,[\nAutoHaarhuis is al bijna 60 jaar gevestigd ...
10879,1.6 CDTI 136 cv selectve,"[\nVehiculo nacional , kilometros certificados..."
11124,1.6 CDTI 136CV Start,[]
12077,1.5 Turbo S/S Innovation ST Matrix-LED,"[\nAngebots-Nr. 109227, Ausstattung:, , Ausst..."
10651,2.0CDTI ST Business Edition Bi-Xenon,"[\nHerzlich willkommen im Autohaus Rigatos., W..."
15299,Espace Limited Blue dCi 200 EDC,"[\n, Komfort:, , abgedunkelte Scheiben im Fon..."
4999,SPB 30 TFSI S tronic Business - Pra.67207,"[\nPratica 67207, Airbag fullsize per conducen..."
4088,1.6 TDi Sport full led,[\naudi A3 berline sport pack s line extérieur...
1718,"Sportback design 1.0 TFSI, Xenon+PDC+SHZ+MF-Le...","[\n, GW-Nr. 5145, Klimaautomatik,media-Paket: ..."
14026,sporter 1.5 dci energy Duel2 90cv edc,"[\n- Euro 6, - Accensione automatica dei fari ..."
11577,"1,6CDTI Dynamic STANDHEIZUNG+KAMERA","[\n, Farbton Tiefseeblau - Metallic, Standheiz..."
4851,SPB 1.6 TDI 116 CV Sport,[\nAutovettura aziendale in perfette condizion...

In [1328]:
df['description'].isnull().sum()

0

In [1329]:
df['description'].dtype

dtype('O')

In [1330]:
df["description"][222]

['\n',
 'Assistenzsysteme:',
 ' Einparkhilfe hinten, Berganfahrassistent',
 'Licht und Sicht:',
 ' Xenon plus, Tagfahrlicht, Scheinwerferreinig., Automatisch abblendender Innenspiegel',
 'Räder und Reifen:',
 ' Leichtmetallfelgen: Aluminium-Gussräder im 5-Speichen-V-Design Größe 7.5 J x 17 mit Reifen 215/40 R17, Reifenpannenset',
 'Komfort:',
 ' Fahrer-/Beifahrersitz höhenverstellbar, Sitzheizung Fahrer/Beifahrer, Armauflage Fahrer/Beifahrer, Servotronic, Lenksäule verstellbar, Zentralver. mit Fernbedienung, Kopfstützen vorn und hinten',
 'Interieur:',
 ' Sitze Stoff, Innenfarbe schwarz',
 'Exterieur:',
 ' Start-Stopp System',
 'Sicherheit:',
 ' 6 x Airbag, Reifendruckkontrolle',
 'Weiteres:',
 ' admired, Rücksitzanlage 2+1, Ausströmermanschetten matt schwarz, Anschlussgarantie 3 Jahre, max. 100.000 km, Modelljahr 2016, CO2-Effizienzklasse: B',
 'Weiteres: ehemalige unverbindliche Preisempfehlung des Herstellers 29.631 EUR. Bei den angegebenen CO2-Werten handelt es sich um die Werte, die im Rahmen der Typgenehmigung des Fahrzeugs ermittelt wurden. Möglicherweise sind diese Werte unzutreffend. Wir bemühen uns, den Vorgang schnellstmöglich aufzuklären und werden die Werte, falls erforderlich, in Abstimmung mit den zuständigen Behörden korrigieren., Irrtümer und Änderungen vorbehalten, Audi GW:plus',
 'Kontakt:',
 ' Bei Rückfragen wenden Sie sich bitte an unser Gebrauchtwagen Team',
 '\n']

## body_type vs Body

In [1331]:
df['body_type'].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [1332]:
df['body_type'].isnull().sum()

60

In [1333]:
df['body'].value_counts()

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64

In [1334]:
df['body'].isnull().sum()

60

In [1335]:
df["body"].replace("\\n","", regex=True)

0        [\n, Sedans, \n]
1        [\n, Sedans, \n]
2        [\n, Sedans, \n]
3        [\n, Sedans, \n]
4        [\n, Sedans, \n]
               ...
15914       [\n, Van, \n]
15915       [\n, Van, \n]
15916       [\n, Van, \n]
15917       [\n, Van, \n]
15918       [\n, Van, \n]
Name: body, Length: 15919, dtype: object

#### Fixing \n

In [1336]:
df["body"]=df["body"].apply(remove)

In [1337]:
df.body

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body, Length: 15919, dtype: object

In [1338]:
## body type and body look similar

## price

In [1339]:
df['price'].value_counts()

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [1340]:
df['price'].isnull().sum()

0

In [1341]:
df['paint_type'].value_counts()

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

## vat

In [1342]:
df['vat'].value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [1343]:
df['vat'].isnull().sum()

4513

In [1344]:
df.vat.sample(10)

7039     VAT deductible
2985     VAT deductible
6040               None
9179               None
3113               None
11989    VAT deductible
11872    VAT deductible
1060     VAT deductible
5053     VAT deductible
14952    VAT deductible
Name: vat, dtype: object

In [1345]:
df.iloc[4676] # random check of vat

url                              https://www.autoscout24.com//offers/audi-a3-a3...
make_model                                                                 Audi A3
short_description                                           A3 SB 1.0 TFSI intense
body_type                                                                   Sedans
price                                                                        22500
vat                                                                           None
km                                                                       10,395 km
registration                                                               02/2018
prev_owner                                                                    None
k_w                                                                            NaN
hp                                                                           85 kW
type                                                          [, Used, , Gasoline]
previous_owners                                                                NaN
next_inspection                                                                NaN
inspection_new                                                                 NaN
warranty                                                                       NaN
full_service                                                                    \n
non_smoking_vehicle                                                            NaN
null                                                                            []
make                                                                          Audi
model                                                                           A3
offer_number                                                       [\n110-13878\n]
first_registration                                                  [\n, 2018, \n]
body_color                                                          [\n, Blue, \n]
paint_type                                                          [\nMetallic\n]
body_color_original                                      [\nKosmosblau Metallic\n]
upholstery                                                                     NaN
body                                                                        Sedans
nr_of_doors                                                                [\n4\n]
nr_of_seats                                                                [\n5\n]
model_code                                                                     NaN
gearing_type                                                   [\n, Automatic, \n]
displacement                                                          [\n999 cc\n]
cylinders                                                                      NaN
weight                                                              [\n1,288 kg\n]
drive_chain                                                            [\nfront\n]
fuel                                                            [\n, Gasoline, \n]
consumption                                        [[4.7 l/100 km (comb)], [], []]
co_2_emission                                                                  NaN
emission_class                                                                 NaN
comfort_&_convenience            [Air conditioning, Armrest, Automatic climate ...
entertainment_&_media            [CD player, Hands-free equipment, On-board com...
extras                                                              [Alloy wheels]
safety_&_security                [ABS, Electronic stability control, Fog lights...
description                      [\nNeupreis: € 33.844,- 5 JAHRE NEUWAGENGARANT...
emission_label                                                                 NaN
gears                                                                          NaN
country_version                                                                NaN
electricity_consumption                                                        NaN
last_service_date                                                              NaN
other_fuel_types                                                               NaN
availability                                                                   NaN
last_timing_belt_service_date                                                  NaN
available_from                                                                 NaN
Name: 4676, dtype: object

In [1346]:
# 1.veya 2.el ?
# otomobil markasi 
# co2 emission ?

## KM

In [1347]:
df['km'].value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [1348]:
df['km'].isnull().sum()

0

In [1349]:
df.km.sample(20)

3936      25,478 km
2378           - km
13060     39,200 km
3684      38,000 km
8443      39,300 km
14317      5,000 km
15046     31,620 km
11965     29,900 km
3170     113,200 km
14740          - km
6778      64,000 km
994        1,450 km
13240     71,390 km
15681     15,400 km
7524      28,216 km
14426      9,990 km
15818        200 km
629       75,287 km
14457        150 km
3968      45,000 km
Name: km, dtype: object

### km replace "km, -,  , " to

In [1350]:
df["km"] = df.km.replace({"km":"", "-":0, " ":"", ",":""}, regex=True).astype(int)

In [1351]:
df.km.dtype

dtype('int32')

In [1352]:
df.km.sample(20)

6073      85000
12626         0
8225          5
2880      62000
6031     100000
13550     35305
14986     47458
13548     72573
2148       3900
2898      92000
6713      30800
10169        10
5291          0
6432      84900
6921      63657
318       63668
11407     48562
2146       7500
3491      89991
6077     110005
Name: km, dtype: int32

In [1353]:
df['km'].value_counts()

10       1045
0        1043
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6689, dtype: int64

## registration and first registration

In [1354]:
df['registration'].value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [1355]:
df['registration'].isnull().sum()

0

In [1356]:
df[["registration","first_registration"]].sample(15)

      registration first_registration
5829       04/2017     [\n, 2017, \n]
10039          -/-                NaN
9579       01/2018     [\n, 2018, \n]
7833       02/2019     [\n, 2019, \n]
14067      06/2019     [\n, 2019, \n]
1814       06/2018     [\n, 2018, \n]
11704      05/2018     [\n, 2018, \n]
2424           -/-                NaN
938        12/2017     [\n, 2017, \n]
4262       06/2017     [\n, 2017, \n]
3311       02/2017     [\n, 2017, \n]
8205       05/2019     [\n, 2019, \n]
4868       03/2018     [\n, 2018, \n]
7937       03/2019     [\n, 2019, \n]
5543           -/-                NaN

In [1357]:
df.registration.dtype

dtype('O')

### Removing \n from First Registration

In [1358]:
df["First Registration"] = df["first_registration"].apply(remove)

In [1359]:
df["first_registration"].head()

0    [\n, 2016, \n]
1    [\n, 2017, \n]
2    [\n, 2016, \n]
3    [\n, 2016, \n]
4    [\n, 2016, \n]
Name: first_registration, dtype: object

In [1360]:
## datetime veya integer yapmali mi ?

### datetime yapmak

In [1361]:
df['registration']=df['registration'].replace('-/-',np.nan,regex=True)
df['registration']

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914        NaN
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: object

In [1362]:
pd.to_datetime(df['registration'])

0       2016-01-01
1       2017-03-01
2       2016-02-01
3       2016-08-01
4       2016-05-01
           ...
15914          NaT
15915   2019-01-01
15916   2019-03-01
15917   2019-06-01
15918   2019-01-01
Name: registration, Length: 15919, dtype: datetime64[ns]

In [1363]:
df.registration

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914        NaN
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: object

## prev_owner vs previous owners

In [1364]:
df['prev_owner'].value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [1365]:
df['prev_owner'].isnull().sum()

6828

In [1366]:
df[["prev_owner","previous_owners"]].sample(15)

             prev_owner                                    previous_owners
4724   1 previous owner                                              \n1\n
119    1 previous owner                                              \n1\n
7910   1 previous owner  [\n1\n, \n, 6.3 l/100 km (comb), \n, 8.6 l/100...
13660              None                                                NaN
11474  1 previous owner                                              \n1\n
3296               None                                                NaN
131                None                                                NaN
12417              None                                                NaN
2214               None                                                NaN
6142   1 previous owner                                              \n1\n
34                 None                                                NaN
12840              None                                                NaN
13948              None                                                NaN
8845   1 previous owner                                              \n1\n
3874               None                                                NaN

In [1367]:
df['previous_owners'].isnull().sum()

6640

### prev_owner get number

In [1368]:
df.prev_owner = df.prev_owner.str.extract('(\d)')

In [1369]:
df.prev_owner.sample(20)

2798     NaN
5252       1
15669      1
15074      2
11697      1
1661       1
3212     NaN
374      NaN
7147       1
7183       1
7399       1
10070      1
8064     NaN
8685     NaN
4591       1
4400     NaN
3486       1
7418       1
14618      1
9627       2
Name: prev_owner, dtype: object

In [1370]:
df.prev_owner.value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

### Previous Owners get number

In [1371]:
df["previous_owners"] = df["previous_owners"].str.extract('(\d)')

In [1372]:
df["previous_owners"].value_counts(dropna=False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: previous_owners, dtype: int64

In [1520]:
df.prev_owner.value_counts()

1    8294
2     778
3      17
4       2
Name: prev_owner, dtype: int64

In [1373]:
# df["Previous Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
# ## hepsini liste disina cikaracak4


# df["Previous Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

## kW

In [1374]:
df.k_w.value_counts()

Series([], Name: k_w, dtype: int64)

In [1375]:
df['k_w'].isnull().sum()

15919

In [1376]:
#drop ?

## hp

In [1377]:
df['hp'].value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [1378]:
df['hp'].isnull().sum()

0

### short descriptiondan kw kismini alabiliriz

In [1379]:
df["hp"].str.extract('(\\d+)').astype(float).isnull().sum()

0    88
dtype: int64

In [1380]:
df["hp"].str.extract('(\\d+)').astype(float)

            0
0      66.000
1     141.000
2      85.000
3      66.000
4      66.000
...       ...
15914 147.000
15915 165.000
15916 146.000
15917 147.000
15918 165.000

[15919 rows x 1 columns]

In [1381]:
df["short_description"].str.extract('(\d\dKW)').iloc[1269]

0    85KW
Name: 1269, dtype: object

In [1382]:
df["short_description"].str.extract('(\d\d)').iloc[4]

0    NaN
Name: 4, dtype: object

In [1383]:
df["short_description"].str.extract('(\d\dKW)').iloc[7177]

0    NaN
Name: 7177, dtype: object

In [1384]:
df.loc[df["hp"]=="-"]=df["short_description"].str.extract('(\d\dKW)')

In [1385]:
df.iloc[1269]["hp"]

'- kW'

In [1386]:
df.iloc[6802]

url                              https://www.autoscout24.com//offers/opel-astra...
make_model                                                              Opel Astra
short_description                                    K 1,4 CNG 5-tg Exclusive + WR
body_type                                                                   Sedans
price                                                                    12864.000
vat                                                                 VAT deductible
km                                                                      120000.000
registration                                                               08/2017
prev_owner                                                                       1
k_w                                                                            NaN
hp                                                                           81 kW
type                                                    [, Used, , Domestic gas H]
previous_owners                                                                  1
next_inspection                                       [\n08/2020\n, \n4 (Green)\n]
inspection_new                                                                 NaN
warranty                                                                  [\n, \n]
full_service                                                              [\n, \n]
non_smoking_vehicle                                                            NaN
null                                                                            []
make                                                                          Opel
model                                                                        Astra
offer_number                                                          [\nAS0040\n]
first_registration                                                  [\n, 2017, \n]
body_color                                                         [\n, Brown, \n]
paint_type                                                          [\nMetallic\n]
body_color_original                                              [\nRouge Braun\n]
upholstery                                                      [\nCloth, Black\n]
body                                                                        Sedans
nr_of_doors                                                                [\n5\n]
nr_of_seats                                                                [\n5\n]
model_code                                                          [\n1844/000\n]
gearing_type                                                      [\n, Manual, \n]
displacement                                                        [\n1,398 cc\n]
cylinders                                                                  [\n4\n]
weight                                                                         NaN
drive_chain                                                            [\nfront\n]
fuel                                                      [\n, Domestic gas H, \n]
consumption                                                                    NaN
co_2_emission                                                                  NaN
emission_class                                                        [[], [], []]
comfort_&_convenience            [Air conditioning, Armrest, Automatic climate ...
entertainment_&_media            [Bluetooth, Digital radio, Hands-free equipmen...
extras                           [Alloy wheels, Catalytic Converter, Touch screen]
safety_&_security                [ABS, Adaptive headlights, Central door lock, ...
description                      [\n, Ausstattungsliste, ex Dienstwagen der Ada...
emission_label                                                     [\n4 (Green)\n]
gears                                                                      [\n6\n]
country_version                                                      [\nGermany\n]
electricity_consumption                                                        NaN
last_service_date                                                    [\n01/2019\n]
other_fuel_types                                                               NaN
availability                                                                   NaN
last_timing_belt_service_date                                                  NaN
available_from                                                                 NaN
First Registration                                                            2017
Name: 6802, dtype: object

## Type

In [1387]:
df['type'].value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 169, dtype: int64

In [1388]:
df['type'].isnull().sum()

2

In [1389]:
df.iloc[8644]

url                              https://www.autoscout24.com//offers/opel-corsa...
make_model                                                              Opel Corsa
short_description                                 1.2 85CV 5 porte GPL-TECH Ecotec
body_type                                                                   Sedans
price                                                                     7500.000
vat                                                                           None
km                                                                       90509.000
registration                                                               02/2016
prev_owner                                                                     NaN
k_w                                                                            NaN
hp                                                                           51 kW
type                                        [, Used, , Liquid petroleum gas (LPG)]
previous_owners                                                                  0
next_inspection                                                                NaN
inspection_new                                                                 NaN
warranty                                                                       NaN
full_service                                                                   NaN
non_smoking_vehicle                                                            NaN
null                                                                            []
make                                                                          Opel
model                                                                        Corsa
offer_number                                                                   NaN
first_registration                                                  [\n, 2016, \n]
body_color                                                         [\n, Black, \n]
paint_type                                                                     NaN
body_color_original                                                            NaN
upholstery                                                                     NaN
body                                                                        Sedans
nr_of_doors                                                                [\n5\n]
nr_of_seats                                                                [\n5\n]
model_code                                                                     NaN
gearing_type                                                      [\n, Manual, \n]
displacement                                                        [\n1,229 cc\n]
cylinders                                                                  [\n4\n]
weight                                                              [\n1,199 kg\n]
drive_chain                                                                    NaN
fuel                                          [\n, Liquid petroleum gas (LPG), \n]
consumption                                     [[], [], [5.6 l/100 km (country)]]
co_2_emission                                            [\n110 g CO2/km (comb)\n]
emission_class                                                        [\nEuro 5\n]
comfort_&_convenience            [Air conditioning, Multi-function steering wheel]
entertainment_&_media                   [Bluetooth, On-board computer, Radio, USB]
extras                                                                         NaN
safety_&_security                [ABS, Central door lock, Central door lock wit...
description                      [\nCOMANDI RARIO E VOCALI AL VOLANTE, CLIMATIZ...
emission_label                                                                 NaN
gears                                                                      [\n5\n]
country_version                                                        [\nItaly\n]
electricity_consumption                                                        NaN
last_service_date                                                              NaN
other_fuel_types                                                               NaN
availability                                                                   NaN
last_timing_belt_service_date                                                  NaN
available_from                                                                 NaN
First Registration                                                            2016
Name: 8644, dtype: object

### Cleaning

In [1390]:
df.type = df.type.str[3].str.split("/").str[0].str.strip()

In [1391]:
df.type = df.type.str.split(" ").str[0].str.strip()

In [1392]:
df.iloc[15918]["type"]

'Super'

In [1393]:
benzin = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others", "Super"]

gas = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H", "Liquid", "Domestic"]


def fueltypes(x):
    if x in benzin:
        return "Benzin"
    elif x in gas:
        return "Gas"
    else:
        return x
    
    
df.type = df.type.apply(fueltypes)

In [1394]:
df["fuel"].value_counts()

[\n, Diesel (Particulate Filter), \n]                                                                                                       4315
[\n, Super 95, \n]                                                                                                                          3338
[\n, Gasoline, \n]                                                                                                                          3175
[\n, Diesel, \n]                                                                                                                            2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                                      424
[\n, Regular/Benzine 91, \n]                                                                                                                 354
[\n, Super E10 95, \n]                                                                                                                       331
[\n, Super 95 (Particulate Filter), \n]                                                                                                      268
[\n, Super 95 / Super E10 95, \n]                                                                                                            131
[\n, Regular/Benzine 91 (Particulate Filter), \n]                                                                                            100
[\n, Super 95 / Super Plus 98, \n]                                                                                                            85
[\n, Gasoline (Particulate Filter), \n]                                                                                                       77
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                                                                         40
[\n, Super E10 95 / Super 95, \n]                                                                                                             38
[\n, CNG, \n]                                                                                                                                 33
[\n, Super 95 / Super E10 95 (Particulate Filter), \n]                                                                                        25
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                         19
[\n, LPG, \n]                                                                                                                                 16
[\n, Super 95 / Super Plus 98 (Particulate Filter), \n]                                                                                       14
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                           13
[\n, Regular/Benzine E10 91, \n]                                                                                                              11
[\n, Liquid petroleum gas (LPG), \n]                                                                                                          10
[\n, Super 95 / Super Plus 98 / Super E10 95, \n]                                                                                              8
[\n, Regular/Benzine 91 / Regular/Benzine E10 91, \n]                                                                                          7
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                            7
[\n, Super Plus 98, \n]                                                                                                                        7
[\n, Super E10 95 (Particulate Filter), \n]                                                                                                    7
[\n, Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95, \n]                                                                          5
[\n, Others, \n]                                                                                                                               5
[\n, Super E10 95 / Super Plus E10 98, \n]                                                                                                     4
[\n, Electric/Gasoline, \n]                                                                                                                    4
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter), \n]                                                     4
[\n, Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                                          4
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            4
[\n, CNG (Particulate Filter), \n]                                                                                                             3
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter), \n]                                                     3
[\n, Super E10 95 / Super 95 / Super Plus 98, \n]                                                                                              3
[\n, Super E10 95 / Regular/Benzine 91, \n]                                                                                                    2
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98, \n]                                                                                        2
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91, \n]                            2
[\n, Regular/Benzine 91 / Super 95 / Super E10 95, \n]                                                                                         1
[\n, Electric, \n]                                                                                                                             1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super E10 95 / Super Plus E10 98, \n]                                                                                          1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                                              1
[\n, Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98, \n]                            1
[\n, Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine E10 91, \n]                                                                                                    1
[\n, Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95, \n]                                                                1
[\n, Super Plus 98 / Regular/Benzine 91, \n]                                                                                                   1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                                         1
[\n, Super 95 / Regular/Benzine 91 (Particulate Filter), \n]                                                                                   1
[\n, Super 95 / Super E10 95 / Regular/Benzine 91, \n]                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                                                1
[\n, Super 95 / Regular/Benzine E10 91 / Super E10 95, \n]                                                                                     1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            1
[\n, Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                     1
[\n, Others (Particulate Filter), \n]                                                                                                          1
[\n, Biogas, \n]                                                                                                                               1
[\n, Super 95 / Biodiesel, \n]                                                                                                                 1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter), \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                                        1
[\n, Regular/Benzine 91 / Super 95, \n]                                                                                                        1
[\n, Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Domestic gas H, \n]                                                                                                                       1
[\n, Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98, \n]                            1
[\n, Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95, \n]                                                                          1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super Plus 98 / Super 95 / Super E10 95, \n]                                                                                              1
[\n, Super Plus E10 98, \n]                                                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                                               1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]                            1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                                         1
Name: fuel, dtype: int64

In [1395]:
df.type.value_counts()

Benzin      8551
Diesel      7297
Gas           64
Electric       5
Name: type, dtype: int64

## Next Inspection vs Inspection new

In [1396]:
df[["next_inspection","inspection_new"]].sample(15)

,next_inspection,inspection_new
4076,NaN,NaN
6843,\n08/2020\n,NaN
8749,NaN,NaN
9323,NaN,NaN
5011,NaN,"[\nYes\n, \n119 g CO2/km (comb)\n]"
11239,"[\n01/2020\n, \n169 g CO2/km (comb)\n]",NaN
13428,NaN,NaN
10894,"[\n06/2021\n, \n103 g CO2/km (comb)\n]","[\nYes\n, \n4 (Green)\n]"
5488,NaN,"[\nYes\n, \n117 g CO2/km (comb)\n]"
3905,NaN,NaN
14397,"[\n08/2021\n, \n135 g CO2/km (comb)\n]",NaN
2334,"[\n01/2022\n, \n111 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]"
11462,NaN,"[\nYes\n, \n149 g CO2/km (comb)\n]"
9457,NaN,NaN
1879,NaN,NaN

In [1397]:
df[["next_inspection","inspection_new"]].isnull().sum()

next_inspection    12384
inspection_new     11987
dtype: int64

In [1398]:
df["next_inspection"].value_counts()

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: next_inspection, Length: 1399, dtype: int64

In [1399]:
df["inspection_new"].value_counts()

[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.2 l/100 km (country), \n]      1
[\nYes\n, \n100 g CO2/km (comb)\n]                                                               1
[\nYes\n, \n, 4.9 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                               1
Name: inspection_new, Length: 202, dtype: int64

### Cleaning

In [1406]:
df.next_inspection = df["next_inspection"].str.extract('(\d\d/\d\d\d\d)')

In [1407]:
df.next_inspection.value_counts(dropna=False)

NaN        15209
04/2022       62
03/2021       38
03/2022       36
06/2021       34
01/2022       32
04/2021       29
05/2022       27
05/2021       27
03/2020       25
05/2019       23
02/2021       19
01/2023       19
02/2020       18
09/2021       17
02/2022       16
04/2020       16
01/2021       15
01/2020       15
06/2022       14
07/2019       13
07/2020       13
04/2019       13
05/2020       12
11/2020       12
02/2023       10
09/2019        9
03/2023        8
08/2022        8
07/2021        8
06/2020        8
03/2019        8
08/2019        7
12/2019        7
07/2022        7
06/2019        7
08/2020        6
11/2019        6
09/2020        6
10/2018        5
08/2021        5
12/2018        4
10/2021        4
02/2019        4
10/2019        4
03/2017        3
12/2020        3
10/2020        3
04/2023        3
06/2016        2
04/2017        2
11/2021        2
05/2023        2
12/2021        2
10/2022        2
01/1999        1
01/1955        1
05/2016        1
06/2018        1
08/2018        1
12/2022        1
01/2019        1
03/2018        1
03/2024        1
07/2017        1
Name: next_inspection, dtype: int64

In [1413]:
#df.next_inspection=df['next_inspection'].replace('NaT',np.nan,regex=True)

In [1408]:
df.next_inspection = pd.to_datetime(df.next_inspection, format="%m/%Y")

In [1494]:
df.next_inspection.value_counts()

2022-04-01    62
2021-03-01    38
2022-03-01    36
2021-06-01    34
2022-01-01    32
2021-04-01    29
2021-05-01    27
2022-05-01    27
2020-03-01    25
2019-05-01    23
2023-01-01    19
2021-02-01    19
2020-02-01    18
2021-09-01    17
2022-02-01    16
2020-04-01    16
2021-01-01    15
2020-01-01    15
2022-06-01    14
2019-07-01    13
2020-07-01    13
2019-04-01    13
2020-11-01    12
2020-05-01    12
2023-02-01    10
2019-09-01     9
2021-07-01     8
2023-03-01     8
2020-06-01     8
2022-08-01     8
2019-03-01     8
2022-07-01     7
2019-08-01     7
2019-12-01     7
2019-06-01     7
2019-11-01     6
2020-08-01     6
2020-09-01     6
2018-10-01     5
2021-08-01     5
2018-12-01     4
2019-02-01     4
2021-10-01     4
2019-10-01     4
2023-04-01     3
2020-10-01     3
2017-03-01     3
2020-12-01     3
2023-05-01     2
2017-04-01     2
2021-11-01     2
2022-10-01     2
2016-06-01     2
2021-12-01     2
2018-06-01     1
2018-03-01     1
2016-05-01     1
2017-07-01     1
1955-01-01     1
2018-08-01     1
2022-12-01     1
2019-01-01     1
1999-01-01     1
2024-03-01     1
Name: next_inspection, dtype: int64

In [1495]:
df.next_inspection.value_counts(dropna=False)

NaT           15209
2022-04-01       62
2021-03-01       38
2022-03-01       36
2021-06-01       34
2022-01-01       32
2021-04-01       29
2022-05-01       27
2021-05-01       27
2020-03-01       25
2019-05-01       23
2021-02-01       19
2023-01-01       19
2020-02-01       18
2021-09-01       17
2022-02-01       16
2020-04-01       16
2021-01-01       15
2020-01-01       15
2022-06-01       14
2019-07-01       13
2020-07-01       13
2019-04-01       13
2020-05-01       12
2020-11-01       12
2023-02-01       10
2019-09-01        9
2023-03-01        8
2022-08-01        8
2021-07-01        8
2020-06-01        8
2019-03-01        8
2019-08-01        7
2019-12-01        7
2022-07-01        7
2019-06-01        7
2020-08-01        6
2019-11-01        6
2020-09-01        6
2018-10-01        5
2021-08-01        5
2018-12-01        4
2021-10-01        4
2019-02-01        4
2019-10-01        4
2017-03-01        3
2020-12-01        3
2020-10-01        3
2023-04-01        3
2016-06-01        2
2017-04-01        2
2021-11-01        2
2023-05-01        2
2021-12-01        2
2022-10-01        2
1999-01-01        1
1955-01-01        1
2016-05-01        1
2018-06-01        1
2018-08-01        1
2022-12-01        1
2019-01-01        1
2018-03-01        1
2024-03-01        1
2017-07-01        1
Name: next_inspection, dtype: int64

## CO2 Emission vs Emission Class vs Emission Label

In [1414]:
df[["next_inspection","emission_label",'registration',"inspection_new", 'co_2_emission', 'emission_class']].sample(10)

,next_inspection,emission_label,registration,inspection_new,co_2_emission,emission_class
531,NaT,NaN,03/2016,NaN,[\n92 g CO2/km (comb)\n],[\nEuro 6\n]
6550,NaT,NaN,01/2017,"[\nYes\n, \n90 g CO2/km (comb)\n]",[\n90 g CO2/km (comb)\n],[\nEuro 6\n]
13575,NaT,NaN,06/2017,NaN,[\n85 g CO2/km (comb)\n],[\nEuro 6\n]
6502,NaT,NaN,02/2016,"[\nYes\n, \n, 6.3 l/100 km (comb), \n, 8.3 l/1...",[\n149 g CO2/km (comb)\n],NaN
52,NaT,NaN,03/2016,NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n]
5607,NaT,NaN,NaN,NaN,[\n114 g CO2/km (comb)\n],[\nEuro 6\n]
15575,NaT,NaN,02/2019,NaN,NaN,NaN
6957,NaT,NaN,09/2017,NaN,NaN,"[[], [], []]"
14957,NaT,NaN,12/2016,NaN,[\n120 g CO2/km (comb)\n],[\nEuro 6\n]
799,NaT,NaN,05/2016,"[\nYes\n, \n97 g CO2/km (comb)\n]",[\n97 g CO2/km (comb)\n],[\nEuro 6\n]

In [1415]:
df[["next_inspection","emission_label",'registration',"inspection_new", 'co_2_emission', 'emission_class']].isnull().sum()

next_inspection    15209
emission_label     11934
registration        1597
inspection_new     11987
co_2_emission       1808
emission_class      3021
dtype: int64

In [1416]:
df["emission_label"].value_counts()

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: emission_label, dtype: int64

In [1497]:
df.co_2_emission.value_counts(dropna=False)

NaN                             1808
[\n120 g CO2/km (comb)\n]        740
[[], [], []]                     628
[\n99 g CO2/km (comb)\n]         545
[\n97 g CO2/km (comb)\n]         537
[\n104 g CO2/km (comb)\n]        501
[\n102 g CO2/km (comb)\n]        477
[\n103 g CO2/km (comb)\n]        445
[\n114 g CO2/km (comb)\n]        382
[\n124 g CO2/km (comb)\n]        372
[\n107 g CO2/km (comb)\n]        362
[\n108 g CO2/km (comb)\n]        362
[\n119 g CO2/km (comb)\n]        361
[\n106 g CO2/km (comb)\n]        349
[\n128 g CO2/km (comb)\n]        329
[\n126 g CO2/km (comb)\n]        282
[\n85 g CO2/km (comb)\n]         275
[\n118 g CO2/km (comb)\n]        270
[\n110 g CO2/km (comb)\n]        266
[\n127 g CO2/km (comb)\n]        257
[\n117 g CO2/km (comb)\n]        254
[\n111 g CO2/km (comb)\n]        237
[\n113 g CO2/km (comb)\n]        235
[\n109 g CO2/km (comb)\n]        234
[\n139 g CO2/km (comb)\n]        224
[\n140 g CO2/km (comb)\n]        218
[\n129 g CO2/km (comb)\n]        213
[\n105 g CO2/km (comb)\n]        202
[\n135 g CO2/km (comb)\n]        202
[\n92 g CO2/km (comb)\n]         198
[\n130 g CO2/km (comb)\n]        180
[\n123 g CO2/km (comb)\n]        178
[\n150 g CO2/km (comb)\n]        174
[\n112 g CO2/km (comb)\n]        171
[\n143 g CO2/km (comb)\n]        171
[\n95 g CO2/km (comb)\n]         161
[\n116 g CO2/km (comb)\n]        157
[\n141 g CO2/km (comb)\n]        156
[\n98 g CO2/km (comb)\n]         151
[\n133 g CO2/km (comb)\n]        145
[\n136 g CO2/km (comb)\n]        145
[\n137 g CO2/km (comb)\n]        133
[\n125 g CO2/km (comb)\n]        132
[\n134 g CO2/km (comb)\n]        130
[\n145 g CO2/km (comb)\n]        126
[\n149 g CO2/km (comb)\n]        117
[\n153 g CO2/km (comb)\n]        113
[\n147 g CO2/km (comb)\n]        109
[\n101 g CO2/km (comb)\n]        105
[\n132 g CO2/km (comb)\n]        100
[\n115 g CO2/km (comb)\n]         86
[\n122 g CO2/km (comb)\n]         83
[\n121 g CO2/km (comb)\n]         82
[\n138 g CO2/km (comb)\n]         75
[\n93 g CO2/km (comb)\n]          66
[\n168 g CO2/km (comb)\n]         58
[\n142 g CO2/km (comb)\n]         58
[\n148 g CO2/km (comb)\n]         48
[\n131 g CO2/km (comb)\n]         48
[\n154 g CO2/km (comb)\n]         40
[\n144 g CO2/km (comb)\n]         40
[\n94 g CO2/km (comb)\n]          37
[\n146 g CO2/km (comb)\n]         36
[\n100 g CO2/km (comb)\n]         36
[\n90 g CO2/km (comb)\n]          35
[\n151 g CO2/km (comb)\n]         34
[\n91 g CO2/km (comb)\n]          31
[\n186 g CO2/km (comb)\n]         30
[\n152 g CO2/km (comb)\n]         28
[\n187 g CO2/km (comb)\n]         26
[\n172 g CO2/km (comb)\n]         25
[\n82 g CO2/km (comb)\n]          25
[\n96 g CO2/km (comb)\n]          22
[\n189 g CO2/km (comb)\n]         19
[\n89 g CO2/km (comb)\n]          19
[\n157 g CO2/km (comb)\n]         18
[\n158 g CO2/km (comb)\n]         17
[\n88 g CO2/km (comb)\n]          15
[\n169 g CO2/km (comb)\n]         15
[\n156 g CO2/km (comb)\n]         14
[\n164 g CO2/km (comb)\n]         13
[\n161 g CO2/km (comb)\n]         10
[\n170 g CO2/km (comb)\n]         10
[\n166 g CO2/km (comb)\n]          8
[\n175 g CO2/km (comb)\n]          8
[\n155 g CO2/km (comb)\n]          8
[\n188 g CO2/km (comb)\n]          7
[\n159 g CO2/km (comb)\n]          7
[\n174 g CO2/km (comb)\n]          6
[\n87 g CO2/km (comb)\n]           6
[\n197 g CO2/km (comb)\n]          4
[\n194 g CO2/km (comb)\n]          3
[\n5 g CO2/km (comb)\n]            3
[\n36 g CO2/km (comb)\n]           3
[\n12,087 g CO2/km (comb)\n]       3
[\n84 g CO2/km (comb)\n]           2
[\n191 g CO2/km (comb)\n]          2
[\n167 g CO2/km (comb)\n]          2
[\n0 g CO2/km (comb)\n]            2
[\n199 g CO2/km (comb)\n]          2
[\n162 g CO2/km (comb)\n]          2
[\n177 g CO2/km (comb)\n]          1
[\n181 g CO2/km (comb)\n]          1
[\n331 g CO2/km (comb)\n]          1
[\n45 g CO2/km (comb)\n]           1
[\n180 g CO2/km (comb)\n]          1
[\n171 g CO2/km (comb)\n]          1
[\n183 g CO2/km (comb)\n]          1
[\n1 g CO2/km (comb)\n]            1
[\n13,983 g CO2/km (comb)\n]       1
[\n184 g CO2/km (comb)\n]          1
[\n14,457 g CO2/km (comb)\n]       1
[\n12,324 g CO2/km (comb)\n]       1
[\n239 g CO2/km (comb)\n]          1
[\n160 g CO2/km (comb)\n]          1
[\n190 g CO2/km (comb)\n]          1
[\n80 g CO2/km (comb)\n]           1
[\n990 g CO2/km (comb)\n]          1
[\n253 g CO2/km (comb)\n]          1
[\n14 g CO2/km (comb)\n]           1
[\n1,060 g CO2/km (comb)\n]        1
[\n51 g CO2/km (comb)\n]           1
[\n165 g CO2/km (comb)\n]          1
[\n193 g CO2/km (comb)\n]          1
Name: co_2_emission, dtype: int64

### Cleaning co_2_emission

In [1506]:
df["co_2_emission"] = [item[0] if type(item) == list else item for item in df["co_2_emission"]]
# ## hepsini liste disina cikaracak4

In [1509]:
df["co_2_emission"]= df["co_2_emission"].str.strip("\n")

In [1514]:
df.co_2_emission[0]

'99 g CO2/km (comb)'

In [1517]:
df.co_2_emission= df["co_2_emission"].str.extract('(\\d+)').astype(float)

In [1519]:
df.co_2_emission.value_counts(dropna=False)

NaN        2436
120.000     740
99.000      545
97.000      537
104.000     501
102.000     477
103.000     445
114.000     382
124.000     372
107.000     362
108.000     362
119.000     361
106.000     349
128.000     329
126.000     282
85.000      275
118.000     270
110.000     266
127.000     257
117.000     254
111.000     237
113.000     235
109.000     234
139.000     224
140.000     218
129.000     213
135.000     202
105.000     202
92.000      198
130.000     180
123.000     178
150.000     174
143.000     171
112.000     171
95.000      161
116.000     157
141.000     156
98.000      151
133.000     145
136.000     145
137.000     133
125.000     132
134.000     130
145.000     126
149.000     117
153.000     113
147.000     109
101.000     105
132.000     100
115.000      86
122.000      83
121.000      82
138.000      75
93.000       66
168.000      58
142.000      58
148.000      48
131.000      48
154.000      40
144.000      40
94.000       37
100.000      36
146.000      36
90.000       35
151.000      34
91.000       31
186.000      30
152.000      28
187.000      26
172.000      25
82.000       25
96.000       22
189.000      19
89.000       19
157.000      18
158.000      17
88.000       15
169.000      15
156.000      14
164.000      13
161.000      10
170.000      10
175.000       8
155.000       8
166.000       8
159.000       7
188.000       7
87.000        6
174.000       6
12.000        4
197.000       4
194.000       3
36.000        3
5.000         3
1.000         2
162.000       2
199.000       2
84.000        2
167.000       2
0.000         2
14.000        2
191.000       2
171.000       1
180.000       1
183.000       1
177.000       1
181.000       1
45.000        1
160.000       1
13.000        1
184.000       1
239.000       1
190.000       1
253.000       1
990.000       1
51.000        1
165.000       1
331.000       1
80.000        1
193.000       1
Name: co_2_emission, dtype: int64

## Warranty

In [1417]:
df['warranty'].value_counts()

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 515, dtype: int64

In [1418]:
df['warranty'].isnull().sum()

5420

In [1419]:
df[["next_inspection","warranty","inspection_new", "co_2_emission", "emission_class"]].sample(10)

,next_inspection,warranty,inspection_new,co_2_emission,emission_class
6634,NaT,"[\n60 months\n, \n, 5.6 l/100 km (comb), \n, 7...",NaN,[\n128 g CO2/km (comb)\n],NaN
1236,NaT,NaN,NaN,[\n120 g CO2/km (comb)\n],[\nEuro 6\n]
926,NaT,NaN,"[\nYes\n, \n97 g CO2/km (comb)\n]",[\n97 g CO2/km (comb)\n],[\nEuro 6\n]
7531,NaT,"[\n, \n, \n130 g CO2/km (comb)\n]",NaN,[\n130 g CO2/km (comb)\n],[\nEuro 6\n]
6858,NaT,\n12 months\n,NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n]
8955,NaT,NaN,NaN,[\n124 g CO2/km (comb)\n],[\nEuro 6\n]
13840,NaT,NaN,NaN,[\n92 g CO2/km (comb)\n],[\nEuro 6\n]
9588,NaT,NaN,NaN,[\n131 g CO2/km (comb)\n],[\nEuro 6\n]
12433,2023-05-01,"[\n, \n, \n135 g CO2/km (comb)\n]",NaN,[\n135 g CO2/km (comb)\n],[\nEuro 6\n]
5317,NaT,\n,NaN,[\n127 g CO2/km (comb)\n],[\nEuro 6\n]

### Warranty cleaning

In [ ]:
df["co_2_emission"] = [item[0] if type(item) == list else item for item in df["co_2_emission"]]
# ## hepsini liste disina cikaracak4

## Full Service

In [1420]:
df['full_service'].value_counts()

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
[\n, \n, \n120 g CO2/km (comb)\n]                                                              105
[\n, \n, \n126 g CO2/km (comb)\n]                                                               84
[\n, \n, \n104 g CO2/km (comb)\n]                                                               77
[\n, \n, \n97 g CO2/km (comb)\n]                                                                76
[\n, \n, \n124 g CO2/km (comb)\n]                                                               61
[\n, \n, \n99 g CO2/km (comb)\n]                                                                60
[\n, \n, \n128 g CO2/km (comb)\n]                                                               53
[\n, \n, \n119 g CO2/km (comb)\n]                                                               49
[\n, \n, \n140 g CO2/km (comb)\n]                                                               39
[\n, \n, \n106 g CO2/km (comb)\n]                                                               38
[\n, \n, \n92 g CO2/km (comb)\n]                                                                33
[\n, \n, \n107 g CO2/km (comb)\n]                                                               32
[\n, \n, \n114 g CO2/km (comb)\n]                                                               31
[\n, \n, \n103 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    29
[\n, \n, \n102 g CO2/km (comb)\n]                                                               29
[\n, \n, \nEuro 6c\n]                                                                           28
[\n, \n, \n139 g CO2/km (comb)\n]                                                               24
[\n, \n, \n117 g CO2/km (comb)\n]                                                               24
[\n, \n, \n127 g CO2/km (comb)\n]                                                               23
[\n, \n, \n141 g CO2/km (comb)\n]                                                               22
[\n, \n, \n136 g CO2/km (comb)\n]                                                               20
[\n, \n, \n125 g CO2/km (comb)\n]                                                               20
[\n, \n, \n85 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n112 g CO2/km (comb)\n]                                                               18
[\n, \n, \n5 (Blue)\n]                                                                          17
[\n, \n, \n109 g CO2/km (comb)\n]                                                               17
[\n, \n, \n129 g CO2/km (comb)\n]                                                               16
[\n, \n, \n150 g CO2/km (comb)\n]                                                               16
[\n, \n, \n113 g CO2/km (comb)\n]                                                               15
[\n, \n, \n130 g CO2/km (comb)\n]                                                               15
[\n, \n, \n133 g CO2/km (comb)\n]                                                               15
[\n, \n, \n154 g CO2/km (comb)\n]                                                               15
[\n, \n, \n135 g CO2/km (comb)\n]                                                               14
[\n, \n, \n116 g CO2/km (comb)\n]                                                               13
[\n, \n, \n110 g CO2/km (comb)\n]                                                               13
[\n, \n, \n123 g CO2/km (comb)\n]                                                               12
[\n, \n, \n143 g CO2/km (comb)\n]                                                               12
[\n, \n, \n137 g CO2/km (comb)\n]                                                               12
[\n, \n, \n105 g CO2/km (comb)\n]                                                               11
[\n, \n, \nEuro 6d\n]                                                                           11
[\n, \n, \n118 g CO2/km (comb)\n]                                                               10
[\n, \n, \n95 g CO2/km (comb)\n]                                                                10
[\n, \n, \n132 g CO2/km (comb)\n]                                                               10
[\n, \n, \n101 g CO2/km (comb)\n]                                                               10
[\n, \n, \n147 g CO2/km (comb)\n]                                                                9
[\n, \n, \n111 g CO2/km (comb)\n]                                                                9
[\n, \n, \n149 g CO2/km (comb)\n]                                                                9
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 9
[\n, \n, \nEuro 5\n]                                                                             8
[\n, \n, \n145 g CO2/km (comb)\n]                                                                8
[\n, \n, \n121 g CO2/km (comb)\n]                                                                7
[\n, \n, \n96 g CO2/km (comb)\n]                                                                 6
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 5
[\n, \n, \n142 g CO2/km (comb)\n]                                                                5
[\n, \n, \n134 g CO2/km (comb)\n]                                                                5
[\n, \n, \n138 g CO2/km (comb)\n]                                                                5
[\n, \n, \n131 g CO2/km (comb)\n]                                                                4
[\n, \n, \n189 g CO2/km (comb)\n]                                                                4
[\n, \n, \n89 g CO2/km (comb)\n]                                                                 4
[\n, \n, \n148 g CO2/km (comb)\n]                                                                4
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.6 l/100 km (country), \n]       3
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6 l/100 km (city), \n, 4.2 l/100 km (country), \n]         3
[\n, \n, \n153 g CO2/km (comb)\n]                                                                3
[\n, \n, \n98 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n115 g CO2/km (comb)\n]                                                                3
[\n, \n, \n152 g CO2/km (comb)\n]                                                                3
[\n, \n, \n122 g CO2/km (comb)\n]                                                                3
[\n, \n, \n94 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n151 g CO2/km (comb)\n]                                                                3
[\n, \n, \n, 5.4 l/100 km (comb), \n, \n, \n]                                                    2
[\n, \n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]       2
[\n, \n, \n169 g CO2/km (comb)\n]                                                                2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.4 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.6 l/100 km (country), \n]       2
[\n, \n, \n157 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.8 l/100 km (country), \n]       2
[\n, \n, \n93 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       2
[\n, \n, \n0 kWh/100 km (comb)\n]                                                                2
[\n, \n, \n, 4.8 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.2 l/100 km (country), \n]       2
[\n, \n, \n, 4.4 l/100 km (comb), \n, 5.2 l/100 km (city), \n, 3.9 l/100 km (country), \n]       2
[\n, \n, \n188 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n88 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.8 l/100 km (country), \n]       2
[\n, \n, \n146 g CO2/km (comb)\n]                                                                2
[\n, \n, \n144 g CO2/km (comb)\n]                                                                2
[\n, \n, \n164 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \n253 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.4 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.3 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n197 g CO2/km (comb)\n]                                                                1
[\n, \n, \n13,983 g CO2/km (comb)\n]                                                             1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.5 l/100 km (country), \n]       1
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7 l/100 km (city), \n, 4.5 l/100 km (country), \n]         1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 4.6 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 3.9 l/100 km (country), \n]       1
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 4.3 l/100 km (comb), \n, 5.2 l/100 km (city), \n, 3.9 l/100 km (country), \n]       1
[\n, \n, \n, 5.8 l/100 km (comb), \n, 7.4 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \n, 5.5 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.5 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]         1
[\n, \n, \n, 4.7 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n, 5 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.5 l/100 km (country), \n]         1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, dtype: int64

In [1421]:
df[["full_service","warranty","inspection_new", "co_2_emission", "emission_class","emission_label"]].sample(15)

,full_service,warranty,inspection_new,co_2_emission,emission_class,emission_label
7936,NaN,\n12 months\n,NaN,NaN,NaN,NaN
902,"[\n, \n, \n117 g CO2/km (comb)\n]",NaN,NaN,[\n117 g CO2/km (comb)\n],[\nEuro 6\n],NaN
8235,"[\n, \n, \nEuro 6\n]","[\n60 months\n, \n130 g CO2/km (comb)\n]","[\nYes\n, \n, 5.5 l/100 km (comb), \n, 7.2 l/1...",[\n130 g CO2/km (comb)\n],NaN,NaN
11040,"[\n, \n]",NaN,NaN,[\n119 g CO2/km (comb)\n],[\nEuro 6\n],NaN
8320,NaN,NaN,"[\nYes\n, \n4 (Green)\n]",[\n110 g CO2/km (comb)\n],NaN,[\n4 (Green)\n]
3862,"[\n, \n, \n103 g CO2/km (comb)\n]",\n12 months\n,NaN,[\n103 g CO2/km (comb)\n],[\nEuro 6\n],NaN
11197,"[\n, \n, \n4 (Green)\n]","[\n, \n, \nEuro 6\n]",NaN,[\n124 g CO2/km (comb)\n],[\nEuro 6\n],NaN
4278,"[\n, \n, \n4 (Green)\n]","[\n, \n, \nEuro 6\n]","[\nYes\n, \n111 g CO2/km (comb)\n]",[\n111 g CO2/km (comb)\n],[\nEuro 6\n],NaN
10232,"[\n, \n, \n4 (Green)\n]","[\n, \n, \nEuro 6d-TEMP\n]","[\nYes\n, \n126 g CO2/km (comb)\n]",[\n126 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],NaN
1837,NaN,\n24 months\n,NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n],NaN
11813,"[\n, \n]",NaN,"[\nYes\n, \n4 (Green)\n]",NaN,[\nEuro 6\n],[\n4 (Green)\n]
4171,NaN,\n12 months\n,NaN,NaN,NaN,NaN
6378,"[\n, \n, \n4 (Green)\n]",NaN,NaN,NaN,"[[], [], []]",[\n4 (Green)\n]
1261,NaN,"[\n, \n, \n97 g CO2/km (comb)\n]",NaN,[\n97 g CO2/km (comb)\n],[\nEuro 6\n],[\n4 (Green)\n]
5709,NaN,"[\n, \n, \nEuro 6\n]",NaN,[\n118 g CO2/km (comb)\n],[\nEuro 6\n],NaN

## Non-smoking Vehicle

In [1422]:
df['non_smoking_vehicle'].value_counts()

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, dtype: int64

In [1423]:
df['non_smoking_vehicle'].isnull().sum()

8742

## Offer Number

In [1424]:
df["offer_number"].value_counts()

[\nLT67679\n]                                     27
[\nAK13780\n]                                     27
[\nTP62881\n]                                     27
[\nTA76392\n]                                     27
[\nXT61649\n]                                     27
                                                  ..
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]     1
[\n6701576\n]                                      1
[\n6701569\n]                                      1
[\n158121\n]                                       1
[\nRe_30000008029\n]                               1
Name: offer_number, Length: 11440, dtype: int64

In [1425]:
df["offer_number"].isnull().sum()

3175

## Body Color vs Paint Type

In [1426]:
df["body_color"].value_counts()

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [1427]:
df["body_color_original"].value_counts()

[\nOnyx Schwarz\n]                     338
[\nBianco\n]                           282
[\nMythosschwarz Metallic\n]           238
[\nBrillantschwarz\n]                  216
[\nGris\n]                             204
                                      ...
[\nRouge-Braun (G0Y)\n]                  1
[\nVARI COLRI DISPONIBILI\n]             1
[\nKokosnussbraun Metallic\n]            1
[\nFarbe frei wählbar\n]                 1
[\nPerlmutt-Weiß Metallic (Weiß)\n]      1
Name: body_color_original, Length: 1927, dtype: int64

In [1428]:
df["paint_type"].value_counts()

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [1429]:
df[["body_color","body_color_original","paint_type"]].isnull().sum()

body_color              597
body_color_original    3759
paint_type             5772
dtype: int64

In [1430]:
df[["body_color","body_color_original","paint_type"]].sample(10)

           body_color          body_color_original      paint_type
4048  [\n, Black, \n]  [\nbeluga brown metallic\n]  [\nMetallic\n]
6428   [\n, Grey, \n]                 [\nGrigio\n]  [\nMetallic\n]
7744  [\n, Black, \n]           [\nOnyx Schwarz\n]  [\nMetallic\n]
2921   [\n, Grey, \n]                          NaN  [\nMetallic\n]
275   [\n, Black, \n]                          NaN  [\nMetallic\n]
1374  [\n, Black, \n]        [\nBrillantschwarz\n]             NaN
8246  [\n, White, \n]            [\nschneeweiss\n]             NaN
2043   [\n, Grey, \n]          [\nmanhattangrau\n]  [\nMetallic\n]
1775  [\n, Black, \n]                          NaN             NaN
9788    [\n, Red, \n]               [\nLAVA ROT\n]             NaN

## Upholstery

In [1431]:
df["upholstery"].isnull().sum()

3720

In [1432]:
df["upholstery"].value_counts()

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [1433]:
##df['age'] = 2019/12 - df['First Registration']

In [1434]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,First Registration
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770.000,VAT deductible,56013.000,01/2016,2,NaN,66 kW,Diesel,2,NaT,"[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],Audi,A1,[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]",Sedans,[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500.000,Price negotiable,80000.000,03/2017,NaN,NaN,141 kW,Benzin,NaN,NaT,NaN,NaN,NaN,NaN,[],Audi,A1,NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]",Sedans,[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640.000,VAT deductible,83450.000,02/2016,1,NaN,85 kW,Diesel,1,NaT,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],Audi,A1,[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]",Sedans,[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500.000,None,73000.000,08/2016,1,NaN,66 kW,Diesel,1,NaT,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],Audi,A1,NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,Sedans,[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790.000,None,16200.000,05/2016,1,NaN,66 kW,Diesel,1,NaT,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],Audi,A1,[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]",Sedans,[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN,2016

## Nr. of Doors

In [1435]:
df["nr_of_doors"].value_counts()

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n1\n]        1
[\n7\n]        1
Name: nr_of_doors, dtype: int64

In [1436]:
df["nr_of_doors"].isnull().sum()

212

## Nr. of Seats

In [1437]:
df["nr_of_seats"].value_counts()

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr_of_seats, dtype: int64

In [1438]:
df["nr_of_seats"].isnull().sum()

977

## Model Code

In [1439]:
df["model_code"].value_counts()

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0000/ACP\n]      1
[\n0035/BGY\n]      1
[\n0035/bgp\n]      1
[\n0035/BGS\n]      1
[\n3333/BKG\n]      1
Name: model_code, Length: 232, dtype: int64

In [1440]:
df["model_code"].isnull().sum()

10941

## Gearing Type vs Gears

In [1441]:
df["gearing_type"].value_counts()

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [1442]:
df["gears"].value_counts()
# yakit tuketimiyle alakasi olabilir

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [1443]:
df[["gearing_type","gears"]].isnull().sum()

gearing_type       0
gears           4712
dtype: int64

## Working with /n  edwin hoca

In [1444]:
df["previous_owners"]

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918      1
Name: previous_owners, Length: 15919, dtype: object

In [1445]:
df["previous_owners"] = [item[0] if type(item) == list else item for item in df["previous_owners"]]
## hepsini liste disina cikaracak4


df["previous_owners"]= df["previous_owners"].str.strip("\n").astype('float')

In [1446]:
df["previous_owners"]

0       2.000
1         NaN
2       1.000
3       1.000
4       1.000
         ...
15914     NaN
15915     NaN
15916     NaN
15917     NaN
15918   1.000
Name: previous_owners, Length: 15919, dtype: float64

## Displacement - motor silindir hacmi

In [1447]:
df["displacement"].value_counts()

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,200 cc\n]       18
[\n1,984 cc\n]       18
[\n1,397 cc\n]       11
[\n899 cc\n]         11
[\n160 cc\n]          6
[\n929 cc\n]          5
[\n1,499 cc\n]        5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n139 cc\n]          4
[\n900 cc\n]          4
[\n1,599 cc\n]        3
[\n1,199 cc\n]        3
[\n1,396 cc\n]        3
[\n1,495 cc\n]        2
[\n1,589 cc\n]        2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n995 cc\n]          2
[\n1,496 cc\n]        1
[\n890 cc\n]          1
[\n1,580 cc\n]        1
[\n1,995 cc\n]        1
[\n1,333 cc\n]        1
[\n54 cc\n]           1
[\n1,533 cc\n]        1
[\n1,100 cc\n]        1
[\n1,350 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n1,568 cc\n]        1
[\n1,896 cc\n]        1
[\n1,584 cc\n]        1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n1,686 cc\n]        1
[\n15,898 cc\n]       1
[\n1,368 cc\n]        1
[\n140 cc\n]          1
[\n973 cc\n]          1
[\n1,239 cc\n]        1
[\n1,369 cc\n]        1
[\n1,390 cc\n]        1
[\n122 cc\n]          1
[\n1,198 cc\n]        1
[\n1,195 cc\n]        1
[\n2,967 cc\n]        1
[\n1,800 cc\n]        1
Name: displacement, dtype: int64

In [1448]:
df["displacement"].isnull().sum()

496

## Cylinders

In [1449]:
df["cylinders"].value_counts()

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64

In [1450]:
df["cylinders"].isnull().sum()

5680

## Weight

In [1451]:
df["weight"].value_counts()

[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
                 ...
[\n1,331 kg\n]      1
[\n1,132 kg\n]      1
[\n1,252 kg\n]      1
[\n1,792 kg\n]      1
[\n2,037 kg\n]      1
Name: weight, Length: 434, dtype: int64

In [1452]:
df["weight"].isnull().sum()

6974

## Drive chain

In [1453]:
df["drive_chain"].value_counts()

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64

In [1454]:
df["drive_chain"].isnull().sum()

6858

## Fuel vs Electricity Consumption vs Other Fuel Types

In [1455]:
df["fuel"].value_counts()

[\n, Diesel (Particulate Filter), \n]                                                                                                       4315
[\n, Super 95, \n]                                                                                                                          3338
[\n, Gasoline, \n]                                                                                                                          3175
[\n, Diesel, \n]                                                                                                                            2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                                      424
[\n, Regular/Benzine 91, \n]                                                                                                                 354
[\n, Super E10 95, \n]                                                                                                                       331
[\n, Super 95 (Particulate Filter), \n]                                                                                                      268
[\n, Super 95 / Super E10 95, \n]                                                                                                            131
[\n, Regular/Benzine 91 (Particulate Filter), \n]                                                                                            100
[\n, Super 95 / Super Plus 98, \n]                                                                                                            85
[\n, Gasoline (Particulate Filter), \n]                                                                                                       77
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                                                                         40
[\n, Super E10 95 / Super 95, \n]                                                                                                             38
[\n, CNG, \n]                                                                                                                                 33
[\n, Super 95 / Super E10 95 (Particulate Filter), \n]                                                                                        25
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                         19
[\n, LPG, \n]                                                                                                                                 16
[\n, Super 95 / Super Plus 98 (Particulate Filter), \n]                                                                                       14
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                           13
[\n, Regular/Benzine E10 91, \n]                                                                                                              11
[\n, Liquid petroleum gas (LPG), \n]                                                                                                          10
[\n, Super 95 / Super Plus 98 / Super E10 95, \n]                                                                                              8
[\n, Regular/Benzine 91 / Regular/Benzine E10 91, \n]                                                                                          7
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                            7
[\n, Super Plus 98, \n]                                                                                                                        7
[\n, Super E10 95 (Particulate Filter), \n]                                                                                                    7
[\n, Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95, \n]                                                                          5
[\n, Others, \n]                                                                                                                               5
[\n, Super E10 95 / Super Plus E10 98, \n]                                                                                                     4
[\n, Electric/Gasoline, \n]                                                                                                                    4
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter), \n]                                                     4
[\n, Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                                          4
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            4
[\n, CNG (Particulate Filter), \n]                                                                                                             3
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter), \n]                                                     3
[\n, Super E10 95 / Super 95 / Super Plus 98, \n]                                                                                              3
[\n, Super E10 95 / Regular/Benzine 91, \n]                                                                                                    2
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98, \n]                                                                                        2
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91, \n]                            2
[\n, Regular/Benzine 91 / Super 95 / Super E10 95, \n]                                                                                         1
[\n, Electric, \n]                                                                                                                             1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super E10 95 / Super Plus E10 98, \n]                                                                                          1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                                              1
[\n, Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98, \n]                            1
[\n, Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine E10 91, \n]                                                                                                    1
[\n, Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95, \n]                                                                1
[\n, Super Plus 98 / Regular/Benzine 91, \n]                                                                                                   1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                                         1
[\n, Super 95 / Regular/Benzine 91 (Particulate Filter), \n]                                                                                   1
[\n, Super 95 / Super E10 95 / Regular/Benzine 91, \n]                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                                                1
[\n, Super 95 / Regular/Benzine E10 91 / Super E10 95, \n]                                                                                     1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            1
[\n, Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91, \n]                            1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                     1
[\n, Others (Particulate Filter), \n]                                                                                                          1
[\n, Biogas, \n]                                                                                                                               1
[\n, Super 95 / Biodiesel, \n]                                                                                                                 1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter), \n]       1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                                        1
[\n, Regular/Benzine 91 / Super 95, \n]                                                                                                        1
[\n, Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Domestic gas H, \n]                                                                                                                       1
[\n, Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98, \n]                            1
[\n, Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95, \n]                                                                          1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super Plus 98 / Super 95 / Super E10 95, \n]                                                                                              1
[\n, Super Plus E10 98, \n]                                                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                                               1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]                            1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                                         1
Name: fuel, dtype: int64

In [1456]:
df[["fuel","electricity_consumption","other_fuel_types"]].isnull().sum()

fuel                           0
electricity_consumption    15782
other_fuel_types           15039
dtype: int64

In [1457]:
df["electricity_consumption"].value_counts()

[\n0 kWh/100 km (comb)\n]    137
Name: electricity_consumption, dtype: int64

In [1458]:
df[["fuel","electricity_consumption", "other_fuel_types" ]].sample(15)

,fuel,electricity_consumption,other_fuel_types
619,"[\n, Diesel, \n]",NaN,NaN
12256,"[\n, Diesel, \n]",NaN,NaN
7995,"[\n, Gasoline, \n]",NaN,NaN
15094,"[\n, Diesel (Particulate Filter), \n]",NaN,NaN
14771,"[\n, Regular/Benzine 91, \n]",NaN,NaN
2293,"[\n, Diesel, \n]",NaN,NaN
2604,"[\n, Super 95, \n]",NaN,NaN
4021,"[\n, Diesel, \n]",NaN,NaN
7090,"[\n, Super 95, \n]",NaN,NaN
742,"[\n, Gasoline, \n]",NaN,NaN
2600,"[\n, Super 95 / Regular/Benzine 91, \n]",NaN,"[[], [], []]"
11727,"[\n, Diesel (Particulate Filter), \n]",NaN,NaN
4492,"[\n, Diesel, \n]",NaN,NaN
11842,"[\n, Diesel (Particulate Filter), \n]",NaN,NaN
1722,"[\n, Gasoline, \n]",NaN,NaN

### Edwin Hoca code

In [1459]:
df["fuel"].astype('str').value_counts(dropna=False)

['\n', 'Diesel (Particulate Filter)', '\n']                                                                                                       4315
['\n', 'Super 95', '\n']                                                                                                                          3338
['\n', 'Gasoline', '\n']                                                                                                                          3175
['\n', 'Diesel', '\n']                                                                                                                            2984
['\n', 'Super 95 / Regular/Benzine 91', '\n']                                                                                                      424
['\n', 'Regular/Benzine 91', '\n']                                                                                                                 354
['\n', 'Super E10 95', '\n']                                                                                                                       331
['\n', 'Super 95 (Particulate Filter)', '\n']                                                                                                      268
['\n', 'Super 95 / Super E10 95', '\n']                                                                                                            131
['\n', 'Regular/Benzine 91 (Particulate Filter)', '\n']                                                                                            100
['\n', 'Super 95 / Super Plus 98', '\n']                                                                                                            85
['\n', 'Gasoline (Particulate Filter)', '\n']                                                                                                       77
['\n', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98', '\n']                                                                         40
['\n', 'Super E10 95 / Super 95', '\n']                                                                                                             38
['\n', 'CNG', '\n']                                                                                                                                 33
['\n', 'Super 95 / Super E10 95 (Particulate Filter)', '\n']                                                                                        25
['\n', 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98', '\n']                                                                         19
['\n', 'LPG', '\n']                                                                                                                                 16
['\n', 'Super 95 / Super Plus 98 (Particulate Filter)', '\n']                                                                                       14
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98', '\n']                           13
['\n', 'Regular/Benzine E10 91', '\n']                                                                                                              11
['\n', 'Liquid petroleum gas (LPG)', '\n']                                                                                                          10
['\n', 'Super 95 / Super Plus 98 / Super E10 95', '\n']                                                                                              8
['\n', 'Regular/Benzine 91 / Regular/Benzine E10 91', '\n']                                                                                          7
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98', '\n']                            7
['\n', 'Super Plus 98', '\n']                                                                                                                        7
['\n', 'Super E10 95 (Particulate Filter)', '\n']                                                                                                    7
['\n', 'Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95', '\n']                                                                          5
['\n', 'Others', '\n']                                                                                                                               5
['\n', 'Super E10 95 / Super Plus E10 98', '\n']                                                                                                     4
['\n', 'Electric/Gasoline', '\n']                                                                                                                    4
['\n', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)', '\n']                                                     4
['\n', 'Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98', '\n']                                                                          4
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95', '\n']                            4
['\n', 'CNG (Particulate Filter)', '\n']                                                                                                             3
['\n', 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)', '\n']                                                     3
['\n', 'Super E10 95 / Super 95 / Super Plus 98', '\n']                                                                                              3
['\n', 'Super E10 95 / Regular/Benzine 91', '\n']                                                                                                    2
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98', '\n']                                                                                        2
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91', '\n']                            2
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95', '\n']                                                                                         1
['\n', 'Electric', '\n']                                                                                                                             1
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super 95 / Super E10 95 / Super Plus E10 98', '\n']                                                                                          1
['\n', 'Super 95 / Super E10 95 / Super Plus 98', '\n']                                                                                              1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98', '\n']                            1
['\n', 'Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91', '\n']                            1
['\n', 'Super 95 / Regular/Benzine E10 91', '\n']                                                                                                    1
['\n', 'Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95', '\n']                                                                1
['\n', 'Super Plus 98 / Regular/Benzine 91', '\n']                                                                                                   1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super 95 / Super Plus 98 / Super Plus E10 98', '\n']                                                                                         1
['\n', 'Super 95 / Regular/Benzine 91 (Particulate Filter)', '\n']                                                                                   1
['\n', 'Super 95 / Super E10 95 / Regular/Benzine 91', '\n']                                                                                         1
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91', '\n']                                                                1
['\n', 'Super 95 / Regular/Benzine E10 91 / Super E10 95', '\n']                                                                                     1
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95', '\n']                            1
['\n', 'Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91', '\n']                            1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98', '\n']                                                     1
['\n', 'Others (Particulate Filter)', '\n']                                                                                                          1
['\n', 'Biogas', '\n']                                                                                                                               1
['\n', 'Super 95 / Biodiesel', '\n']                                                                                                                 1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)', '\n']       1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98', '\n']                                                                                        1
['\n', 'Regular/Benzine 91 / Super 95', '\n']                                                                                                        1
['\n', 'Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98', '\n']                            1
['\n', 'Domestic gas H', '\n']                                                                                                                       1
['\n', 'Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98', '\n']                            1
['\n', 'Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95', '\n']                                                                          1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super Plus 98 / Super 95 / Super E10 95', '\n']                                                                                              1
['\n', 'Super Plus E10 98', '\n']                                                                                                                    1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91', '\n']                                                                               1
['\n', 'Super Plus 98 / Super E10 95', '\n']                                                                                                         1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98', '\n']                            1
['\n', 'Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98', '\n']                            1
['\n', 'Super Plus 98 / Super 95 / Super Plus E10 98', '\n']                                                                                         1
Name: fuel, dtype: int64

In [1460]:
df["fuel"] = df.fuel.str[1].str.split("/").str[0].str.strip()

In [1461]:
df["fuel"].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: fuel, dtype: int64

In [1462]:
df["fuel"] = df.fuel.str.split("(").str[0].str.strip()

In [1463]:
df["fuel"].value_counts(dropna=False)

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: fuel, dtype: int64

In [1464]:
benzin = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]

gas = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]


def fueltypes(x):
    if x in benzin:
        return "Benzin"
    elif x in gas:
        return "Gas"
    else:
        return x
    
    
df.fuel = df.fuel.apply(fueltypes)

In [1465]:
df.fuel.value_counts()

Benzin      8551
Diesel      7299
Gas           64
Electric       5
Name: fuel, dtype: int64

## Consumption

In [1466]:
df["consumption"].value_counts()

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]              304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]              257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]              253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]              244
                                                                                     ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                   1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]        1
Name: consumption, Length: 881, dtype: int64

In [1467]:
df["consumption"].isnull().sum()

1906

In [1468]:
df[["consumption"]].sample(15)

                                             consumption
11115                                                NaN
13683  [[3.3 l/100 km (comb)], [3.5 l/100 km (city)],...
13765  [[5.2 l/100 km (comb)], [6.6 l/100 km (city)],...
13546  [[3.3 l/100 km (comb)], [3.5 l/100 km (city)],...
15320  [[4.4 l/100 km (comb)], [5.1 l/100 km (city)],...
9847   [\n, 5.9 l/100 km (comb), \n, 7.5 l/100 km (ci...
11804  [[5 l/100 km (comb)], [6 l/100 km (city)], [4 ...
3057   [[4.9 l/100 km (comb)], [6.2 l/100 km (city)],...
2465   [[4.7 l/100 km (comb)], [5.9 l/100 km (city)],...
9483   [[5.2 l/100 km (comb)], [6.6 l/100 km (city)],...
15407  [[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...
12510  [[5.5 l/100 km (comb)], [7.3 l/100 km (city)],...
1844   [[3.9 l/100 km (comb)], [4.5 l/100 km (city)],...
8472   [[4.8 l/100 km (comb)], [5.9 l/100 km (city)],...
1359   [[4.2 l/100 km (comb)], [5 l/100 km (city)], [...

## Comfort & Convenience

In [1469]:
df["comfort_&_convenience"].value_counts()

[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                                                                  92
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Start-stop system]                                                                                                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Sunroof, Tinted windows]                                                                                                                                                 1
[Air conditioning, Armrest, Cruise control, Hill Holder, Leather steering wheel, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows]                                                                                                                                                                                                                                                                                                 1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Multi-function steering wheel, Power windows, Rain sensor, Start-stop system, Tinted windows]                                                                                                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: comfort_&_convenience, Length: 6198, dtype: int64

In [1470]:
df["comfort_&_convenience"].isnull().sum()

920

In [1471]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from',
       'First Registration'],
      dtype='object')

## Entertainment & Media

In [1472]:
df["entertainment_&_media"].value_counts()

[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                         1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                     982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]          783
[On-board computer, Radio]                                                                487
[Radio]                                                                                   477
                                                                                         ...
[Bluetooth, CD player, MP3]                                                                 1
[CD player, USB]                                                                            1
[Bluetooth, CD player, Digital radio, Radio, USB]                                           1
[Bluetooth, CD player, Digital radio, MP3, On-board computer, Radio, Television, USB]       1
[Hands-free equipment, On-board computer, Radio, Sound system]                              1
Name: entertainment_&_media, Length: 346, dtype: int64

In [1473]:
df["entertainment_&_media"].isnull().sum()

1374

## Extras

In [1474]:
df["extras"].value_counts()

[Alloy wheels]                                                                                                     3245
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
[Alloy wheels, Roof rack]                                                                                           385
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: extras, Length: 659, dtype: int64

In [1475]:
df["extras"].isnull().sum()

2962

## Safety & Security

In [1476]:
df["safety_&_security"].value_counts()

[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                           228
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                     1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                 1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]      1
Name: safety_&_security, Length: 4443, dtype: int64

In [1477]:
df["safety_&_security"].isnull().sum()

982

## Country version

In [1478]:
df["country_version"].value_counts()

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [1479]:
df["country_version"].isnull().sum()

8333

In [1480]:
df["country_version"] = [item[0] if type(item) == list else item for item in df["country_version"]]
## hepsini liste disina cikaracak4


#df["previous_owners"]= df["previous_owners"].str.strip("\n").astype('float')

In [1481]:
df["country_version"].value_counts()

\nGermany\n           4502
\nItaly\n             1038
\nEuropean Union\n     507
\nNetherlands\n        464
\nSpain\n              325
\nBelgium\n            314
\nAustria\n            208
\nCzech Republic\n      52
\nPoland\n              49
\nFrance\n              38
\nDenmark\n             33
\nHungary\n             28
\nJapan\n                8
\nSlovakia\n             4
\nCroatia\n              4
\nSweden\n               3
\nRomania\n              2
\nBulgaria\n             2
\nLuxembourg\n           1
\nSwitzerland\n          1
\nSlovenia\n             1
\nEgypt\n                1
\nSerbia\n               1
Name: country_version, dtype: int64

In [1482]:
df.country_version = df["country_version"].replace("\\n","", regex=True)
df["country_version"].value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [1483]:
df.iloc[0]

url                              https://www.autoscout24.com//offers/audi-a1-sp...
make_model                                                                 Audi A1
short_description                      Sportback 1.4 TDI S-tronic Xenon Navi Klima
body_type                                                                   Sedans
price                                                                    15770.000
vat                                                                 VAT deductible
km                                                                       56013.000
registration                                                               01/2016
prev_owner                                                                       2
k_w                                                                            NaN
hp                                                                           66 kW
type                                                                        Diesel
previous_owners                                                              2.000
next_inspection                                                                NaT
inspection_new                                               [\nYes\n, \nEuro 6\n]
warranty                                                   [\n, \n, \n4 (Green)\n]
full_service                                                              [\n, \n]
non_smoking_vehicle                                                       [\n, \n]
null                                                                            []
make                                                                          Audi
model                                                                           A1
offer_number                                                       [\nLR-062483\n]
first_registration                                                  [\n, 2016, \n]
body_color                                                         [\n, Black, \n]
paint_type                                                          [\nMetallic\n]
body_color_original                                            [\nMythosschwarz\n]
upholstery                                                      [\nCloth, Black\n]
body                                                                        Sedans
nr_of_doors                                                                [\n5\n]
nr_of_seats                                                                [\n5\n]
model_code                                                          [\n0588/BDF\n]
gearing_type                                                   [\n, Automatic, \n]
displacement                                                        [\n1,422 cc\n]
cylinders                                                                  [\n3\n]
weight                                                              [\n1,220 kg\n]
drive_chain                                                            [\nfront\n]
fuel                                                                        Diesel
consumption                      [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
co_2_emission                                             [\n99 g CO2/km (comb)\n]
emission_class                                                        [\nEuro 6\n]
comfort_&_convenience            [Air conditioning, Armrest, Automatic climate ...
entertainment_&_media            [Bluetooth, Hands-free equipment, On-board com...
extras                           [Alloy wheels, Catalytic Converter, Voice Cont...
safety_&_security                [ABS, Central door lock, Daytime running light...
description                      [\n, Sicherheit:,  , Deaktivierung für Beifahr...
emission_label                                                                 NaN
gears                                                                          NaN
country_version                                                                NaN
electricity_consumption                                                        NaN
last_service_date                                                              NaN
other_fuel_types                                                               NaN
availability                                                                   NaN
last_timing_belt_service_date                                                  NaN
available_from                                                                 NaN
First Registration                                                            2016
Name: 0, dtype: object

## Last Service Date

In [1484]:
df["last_service_date"].value_counts()

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n06/2019\n, \nEuro 6\n]                 13
                                          ..
[\n01/2017\n, \n95 g CO2/km (comb)\n]      1
[\n06/2019\n, \n87 g CO2/km (comb)\n]      1
[\n10/2018\n, \n100 g CO2/km (comb)\n]     1
[\n02/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2019\n, \n120 g CO2/km (comb)\n]     1
Name: last_service_date, Length: 266, dtype: int64

In [1485]:
df["last_service_date"].isnull().sum()

15353

## Availability

In [1486]:
df["availability"].value_counts()

\nin 90 days from ordering\n     196
\nin 120 days from ordering\n    182
\nin 1 day from ordering\n        51
\nin 5 days from ordering\n       35
\nin 3 days from ordering\n       35
\nin 180 days from ordering\n     24
\nin 14 days from ordering\n      24
\nin 7 days from ordering\n       20
\nin 150 days from ordering\n     18
\nin 2 days from ordering\n       16
\nin 60 days from ordering\n      13
\nin 42 days from ordering\n      10
\nin 21 days from ordering\n       8
\nin 4 days from ordering\n        2
\nin 6 days from ordering\n        1
Name: availability, dtype: int64

In [1487]:
df["availability"].isnull().sum()

15284

## Available from

In [1488]:
df["available_from"].value_counts()

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n26/06/19\n     5
\n27/06/19\n     5
\n10/11/19\n     5
\n08/07/19\n     4
\n25/10/19\n     3
\n15/07/19\n     3
\n01/08/19\n     3
\n04/07/19\n     2
\n05/08/19\n     2
\n24/08/19\n     2
\n16/07/19\n     2
\n20/07/19\n     2
\n05/07/19\n     2
\n30/06/19\n     2
\n30/09/19\n     1
\n31/10/19\n     1
\n27/07/19\n     1
\n02/07/19\n     1
\n10/07/19\n     1
\n19/07/19\n     1
\n24/07/19\n     1
\n29/07/19\n     1
\n29/09/19\n     1
\n18/08/19\n     1
\n14/09/19\n     1
\n18/07/19\n     1
\n16/08/19\n     1
\n24/09/19\n     1
\n17/08/19\n     1
\n10/10/19\n     1
\n06/12/19\n     1
\n03/12/19\n     1
\n05/12/19\n     1
\n11/08/19\n     1
\n10/12/19\n     1
\n01/09/19\n     1
\n03/08/19\n     1
Name: available_from, dtype: int64

In [1489]:
df["available_from"].isnull().sum()

15647

## Last Timing Belt Service Date

In [1490]:
df["last_timing_belt_service_date"].value_counts()

[\n04/2016\n]                2
[\n12/1900\n]                1
[\n07/2018\n]                1
[\n01/1900\n]                1
[\n05/2019\n]                1
[\n09/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n06/2017\n]                1
[\n01/2019\n]                1
[\n02/2019\n]                1
[\n02/2018\n]                1
[\n06/2019\n]                1
[\n01/2018\n]                1
[\n04/2019\n]                1
[\n01/1970\n]                1
Name: last_timing_belt_service_date, dtype: int64

In [1491]:
df["last_timing_belt_service_date"].isnull().sum()

15903

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [1492]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [1493]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

NameError: name 'df_dummied' is not defined